[2018-04-03 18:43] domyen opened #1 "Port tutorial to Vue"
**Update Jun 13**
Thanks to @mattrothenberg we have the example UI code ported to Vue. 🤙
[Vue UI example code](https://github.com/mattrothenberg/learnstorybook-vue)

**Contributors wanted**
Port the prose to Vue. This is mostly find & replace in Markdown with a bit of extra explanation for Vue-specific concepts.

[2018-04-03 18:45] domyen opened #2 "Angular code"
Angular users, we need your help converting the [LearnStorybook example code](https://github.com/hichroma/learnstorybook-code). 🙏

The example is currently written in React and Redux. If you use Angular (and a little React) and have a grasp on its state management ecosystem help us introduce Storybook to that community.

Comment below!

[2018-04-03 18:48] domyen opened #3 "Translations wanted"
Storybook should be approachable to all people! We need help translating this tutorial into other languages. We’re especially open to 🇨🇳 Chinese and  🇲🇽 Spanish translations.

Comment below!

[2018-04-10 15:47] icarlossz commented on #3
Maybe I can help with the Spanish translation.

[2018-04-10 17:49] davthu opened #4 "Uncaught TypeError: Cannot read property 'string' of undefined"
Just followed the first step on the tutorial at https://www.learnstorybook.com/get-started/ and when opening the storybook at http://localhost:6006/ an **Uncaught TypeError** error is thrown and the page is blank.

[code]

[2018-04-10 18:41] #4 closed

[2018-04-10 18:42] domyen commented on #4
@davthu Fixed. Try deleting the folder and following the steps again 🙏

[2018-04-10 18:58] davthu commented on #4
I'm sorry but it didn't help to remove the tasklist folder and start again. Instead I installed Storybook as recommended on their site using  `npm i -g @storybook/cli` and skipping the yarn part and then it works. This time package.json looks like this:

[code]

[2018-04-10 20:16] icarlossz opened #5 "How to translate?"
Hello, I would like to help with the translation of the tutorial into Spanish but would like an explanation on how to do it in the same way it can be useful for anyone who also intends to help translate.

Greetings,
Carlos

[2018-04-10 22:02] domyen commented on #5
Great question Carlos. The translation initiative is new so we're building a process out right now. Here's what I'm thinking:

**For contributors**

1. Fork
2. Add a new directory in content with language (e.g., `/content/spanish`).
3. Copy the existing docs to the new directory
4. Translate markdown content including what's in the "frontmatter" (title, tocTitle, description), but leave the code,

[2018-04-10 22:11] tmeasday commented on #4
FTR, I think the best way to use one-shot tools like `getstorybook` and `create-react-app` is via `npx`---it will always install the latest version (rather than whatever you have installed on your system from last time you used it), and ensure you are up to date. @domyen should we change this part?

[2018-04-10 22:14] domyen commented on #4
@tmeasday do it!

[2018-04-10 22:16] tmeasday commented on #4
https://github.com/hichroma/learnstorybook.com/commit/99bfe6a106fb30b2e687d94d13ed245114810218

[2018-04-11 02:35] Twitchkidd opened #9 "Grammar on first page"
Tweet: I'm learning Storybook! It's *a* great dev tool for UI components.

It's just something with a large font size, first page, users wouldn't want to share it even if they'd gloss over a mistake in the actual tutorial, easy fix, bada bing, bada boom.

[2018-04-11 06:09] kylemh opened #10 "Host example storybook instance"
It would likely be a good idea to host the demo Storybook project described in the deploy step:

Linking it in the following locations seem like good ideas:
https://github.com/hichroma/learnstorybook.com/blob/master/content/deploy.md
https://github.com/hichroma/learnstorybook.com/blob/master/content/conclusion.md#conclusion

[2018-04-11 14:41] #9 closed

[2018-04-11 15:00] #10 closed

[2018-04-11 15:57] domyen commented on #5
Updated #3 to reflect the steps to get started.

[2018-04-11 19:16] luchux commented on #3
can help @icarlossz with Spanish if needed.

[2018-04-11 23:10] domyen commented on #5
Going to close this and open up a Spanish translation issue where we can chat further

[2018-04-11 23:10] #5 closed

[2018-04-11 23:15] domyen opened #12 "Spanish version"
This is the discussion for the Spanish version of Learn Storybook. Use this issue to divvy up translation, request feedback, etc. For more info about the translation project and to get involved checkout #3

Please target your PRs at branch [`language-spanish`](https://github.com/hichroma/learnstorybook.com/tree/language-spanish). 🙏

cc @icarlossz and @luchux

[2018-04-12 00:14] icarlossz commented on #12
All right. 👨🏻‍💻

[2018-04-23 00:01] kylemh opened #21 "Add chapter on integrating add-ons using knobs as an example"
Many people would benefit from a tutorial on add-on integration
Many people would love knobs (very widely utilized add-on)

I'm down to work on content. Just wanted to make sure this is something that's desired.

[2018-04-25 00:26] tmeasday commented on #21
Potentially it also makes sense to have a (separate) addendum on "creating
documentation with Storybook" that explains a few of the docs-style addons
(like info/storysource/etc)

On Wed, 25 Apr 2018 at 03:24 Dominic Nguyen <notifications@github.com>
wrote:

[2018-05-07 18:18] chenka commented on #3
Hello, I would be great if you use [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) to url. e.g. `/content/ja` , `/content/es`, it looks more standard and short url

[2018-05-22 20:12] mattrothenberg commented on #1
@domyen I can give it a shot. Is there a more concrete ask beyond "converting the LearnStorybook example code" to Vue?

[2018-05-24 14:29] mattrothenberg commented on #1
Ahh, that's a much larger undertaking than I had anticipated. Let me take a peek at the code (in earnest) and holler whether I can complete this in a reasonable timeframe.

[2018-05-24 14:33] domyen commented on #1
Yup, the example "app" is 3 components with state tied into one of them.
I guess app would be a misnomer. It's a screen composed of 3 components 😉

[2018-05-24 14:50] mattrothenberg commented on #1
Oh, I'll give that a shot. Stay tuned.

[2018-05-24 19:37] mattrothenberg commented on #1
So upon closer inspection, I'm not sure if it's possible to document (with Storybook) Vue components that rely on a Vuex store for fetching & updating data. Here's my rationale:

Unlike Redux, the Vuex store must be injected into the parent Vue instance, via something like:
[code]
With Storybook, we can't access this parent Vue instance. Which means that we can't inject different variants of the s

[2018-05-25 01:03] mattrothenberg commented on #1
@domyen All done. Built storybook is deployed to https://focused-montalcini-567535.netlify.com/.

Take a look at `master` of that repo I shared and let me know how best to proceed.

[2018-05-25 02:27] mattrothenberg commented on #1
@tmeasday Fantastic suggestions.

I've tried my best to incorporate all of this feedback, though I'm sure I've inevitably messed a few things up :) Check out `master` and let me know what you think, or send a PR through.

Thanks again!

[2018-05-25 03:49] tmeasday commented on #1
@mattrothenberg looks great! I think we need to now figure out how to make the site switchable between view layers and how to do the text between different versions. Leave it with us for a few days. Thanks!

[2018-05-29 16:27] luchux commented on #12
@icarlossz Querés que traduzca todos los capítulos que quedan, desde el último que aceptaste en el PR, hasta el final? Vos después podes hacer la revisión, los fixes, y aceptar el PR.

Así terminamos de una. Yo estoy bastante al pedo, idle, estos días y me gustaría ir cerrando esto.

Salutes bro.

[2018-05-29 23:18] icarlossz commented on #12
Ando igual ahora mismo yo, si querés sigamos como veníamos de uno a uno y cada uno le hace code review al otro. Contame si te parece.

[2018-05-30 01:11] luchux commented on #12
dale!
Cómo estamos el último? jaja, ya me perdi

On Tue, May 29, 2018 at 8:18 PM, Carlos Iván Suarez <
notifications@github.com> wrote:

[2018-06-06 05:33] ng-hai commented on #3
Ready for Vietnamese 🤠

[2018-06-06 14:34] domyen commented on #3
@ng-hai definitely open to it if you're volunteering 😉

[2018-06-13 14:52] icarlossz commented on #12
Complete and proofread Spanish translation without problems.  🔥

[2018-06-13 14:55] domyen commented on #12
This is awesome @icarlossz and @luchux! @tmeasday and I are currently working on the associated changes to support this in #28. Should have a path forward by end of week. I'll aim to release the Spanish version sometime next week.

[2018-06-13 15:17] icarlossz commented on #12
Awesome! 💯

[2018-06-14 14:43] luchux commented on #12
Buena cabro!

Awesomeness 100% !

On Wed, Jun 13, 2018 at 12:17 PM, Carlos Iván Suarez <
notifications@github.com> wrote:

[2018-06-15 14:50] domyen commented on #12
We released a first cut of the Spanish version to master ([link](https://www.learnstorybook.com/react/es/get-started/))!
There will likely be a few tweaks necessary. Let's test and let it settle for a few days.

Known issues:
- Twitter message is not translated (it's currently a part of the template not content)
- Language picker can be hard to find

[2018-06-18 05:41] tmeasday commented on #1
I made a start on the text: https://github.com/hichroma/learnstorybook.com/pull/34

I've been rewriting the code (to be one commit per section of the text) here: https://github.com/hichroma/learnstorybook-code/commits/vue

Maybe that part is overkill, but it is useful to check the intermediate instructions actually work!

[2018-06-19 18:02] luchux commented on #12
Should we may be translate as well some images? Can send texts for them.
i.e. attached

![](https://www.learnstorybook.com/storybook-relationship.jpg)

[2018-07-12 06:47] kylemh opened #39 "Error on fresh install"
### ENV
- MacBook Pro 2017
- MacOS High Sierra v10.13.5
- Node v8.9.4
- Yarn v1.7.0

### STR
- Fork repository
- Clone repository locally
- Open a shell within the folder's root level
- Run `yarn && yarn dev`
- Open http://localhost:8000
- See the following error:
![screen shot 2018-07-11 at 11 39 16 pm](https://user-images.githubusercontent.com/9523719/42616721-175117ca-8564-11e8-88db-d23b26abc1e

[2018-07-17 02:54] #39 closed

[2018-07-17 02:55] tmeasday commented on #39
Thanks @kylemh. This was an issue that Gatsby obscured because we had a commit that was purely numeric. I guess it confused the auto-GraphQL schema generation?

PS `package-lock.json` should not have been there. Removing it.

[2018-07-19 10:29] chinanf-boy opened #42 "plan of translate chinese 🇨🇳"
### here chinese repo https://github.com/chinanf-boy/learnstorybook.com

## Do you need to  create a language-chinese branch❓

## or I just pull

[2018-07-20 11:41] chinanf-boy commented on #3
About the plan of translate chinese #42

[2018-07-21 15:39] domyen commented on #42
Awesome! Thanks @chinanf-boy! Submit a PR and we'll discuss it there.

[2018-07-22 02:35] chinanf-boy commented on #42
Right -> #43

[2018-07-22 16:05] domyen commented on #42
Let's chat in the PR. Closing this issue out ✅

[2018-07-22 16:05] #42 closed

[2018-07-23 21:11] fabioscsilva commented on #3
Hi @domyen,
I can help you the the Portuguese translation

[2018-07-24 14:30] domyen commented on #3
@fabioscsilva we'd be 💯 thrilled to have you do that!
Please send a PR 🙏

[2018-07-24 19:20] alterx commented on #2
Hey @domyen, I helped bringing Angular to Storybook and would love to contribute here. I've also done a ton of React work so it shouldn't be an issue to convert the code :)

I don't have a lot of free time but will start looking into the code. Is there anything I should know before starting?

[2018-07-24 23:57] tmeasday commented on #2
Hey @alterx, great to hear from you!

I'm glad you asked. I've been (slowly) looking at trying to get the Vue version integrated as contributed by @mattrothenberg broken up into steps to match our chapters (see
https://github.com/chromaui/learnstorybook.com/issues/1#issuecomment-397947421)

The thing that takes a little while is just getting every step working in a simple reproducable way for user

[2018-07-25 02:18] alterx commented on #2
Hey @tmeasday, long time no see (chat 😂) !

I like the idea of having a commit per title, it feels like it's going to help a lot. As of the work that needs to be done, I intend to work on the three parts. It's probably easier (and just faster) for the person that wrote the app to work on 2 and 3.

I'll start with the app and hit you up on Slack if I have further questions :)

[2018-07-25 23:02] icarlossz commented on #12
@domyen You have the assets of the images for translate them, too? 🤓

[2018-07-27 16:58] alterx commented on #2
The code is here https://github.com/chromaui/learnstorybook-code/pull/4
Will also add changes for the site on this repo.

[2018-08-06 15:58] domyen commented on #2
Thank you @alterx! 🙏 Closing this ticket

[2018-08-06 15:58] #2 closed

[2018-08-09 10:12] mattrothenberg commented on #1
No worries!

Emitting from the template (instead of calling a method defined in the component) certainly works, though IMO it makes the template difficult to read. Where possible, I try to keep my templates free of logic and other implementation details, deferring to computed properties & methods...

Either way, your guide is looking solid. Keep up the great work!

[2018-08-14 13:57] domyen commented on #1
🤝Merged – excellent work folks!

[2018-08-14 13:57] #1 closed

[2018-09-05 04:32] #21 closed

[2018-09-06 13:35] teekirol opened #51 "Run alongside vs separately"
In the Storybook official documentation, it says

But in the intro of your guide, it says

Can you talk about this discrepancy?

[2018-09-07 01:12] tmeasday commented on #51
Hi @teekirol- storybook runs as a separate process to your main application -- it serves on a different port (say localhost:6006 vs localhost:3000) and is started via a separate command. You only really run storybook in development -- it doesn't really make sense to run it in production.

So that's what is meant by both statements -- storybook is not "part" of your app (in that it doesn't run insi

[2018-09-08 10:46] teekirol commented on #51
Yes it does, thank you.

[2018-09-08 10:46] #51 closed

[2018-09-20 05:27] janicak opened #52 "Icon font error"
Following instructions through https://www.learnstorybook.com/react/en/simple-component/, the icon font fails to load in the application, with console warnings:

[code]

[2018-10-12 20:05] travis5491811 opened #54 "Question vue tutorial broken"
Everything was ok until i got to https://www.learnstorybook.com/vue/en/data/

This section and forward:

ERROR in ./src/components/PureTaskList
Module build failed: Error: ENOENT: no such file or directory, open '~./taskbox/src/components/PureTaskList'

To keep confusion down and amplify clarity can you list the filename above the code snips clearly?

filename.extension
[code]

Plus I'm working on

[2018-10-15 01:27] tmeasday commented on #54
Hi @travis5491811, thanks letting us know!

Do you feel like contributing a PR to fix these problems? In particular I think the text about moving the file could be clearer and obviously the test should be in vue not react! It seems you are more on top of this than me right now.

For the other note:
 1. @domyen could we put filenames at the top of code blocks? We might need some styles for that.
 2

[2018-10-15 23:45] tmeasday commented on #54
Hi @travis5491811,

I've made some improvements in 8576514.

Hopefully this clears up the questions about file locations and also repairs the test. Let me know if that helps.

I realise that vue is changing quite quickly (and storybook 4 is about to come out) so I think I will need to revisit this in the next little bit but let me know any other problems you run into.

[2018-10-15 23:45] #54 closed

[2018-10-16 02:51] luss613 opened #55 "Chart data.md has error about Jest"
The code snippet about jest test, import react in vue version.

[2018-10-16 04:55] tmeasday commented on #55
Thanks @luss613  -- I think perhaps this has been fixed very recently in https://github.com/chromaui/learnstorybook.com/issues/54

[2018-10-16 13:42] travis5491811 commented on #54
Thanks @tmeasday i tried again from the beginning of the tutorial today on a different machine.

`yarn test:unit` was successful but `yarn run storybook` threw the following error:

[code]

I think the above error is because vue storybook is broken (webpack 4 compatibility problem) and everybody is working on storybook 4.0.0.

Is vue storybook always based on latest as appose to LTS version of vue

[2018-10-17 01:43] tmeasday commented on #54
Hi @travis5491811 -- I just tried following the instructions from https://www.learnstorybook.com/vue/en/get-started and it worked just fine on my machine.

Here's the `package.json` I ended up with if it helps:

[code]

[2018-10-17 14:33] travis5491811 commented on #54
Hey @tmeasday thanks for that, I have a matching file. I also removed my global node_modules just in case.
I'm not sure if it matters or not but just in case, what is your node version? I'm running
[code]
I haven't had a chance to check the other machine I used where everything worked up to the "data" section.

[2018-10-17 23:50] tmeasday commented on #54
I would have been using node 8, but I sort of doubt that would affect the webpack version storybook ends up using (which seemed to be the issue in what you linked above)

[2018-10-26 05:09] #55 closed

[2018-10-26 05:20] tmeasday opened #60 "Angular jest integration broken"
I think due to the new angular CLI version, when following the instructions on https://www.learnstorybook.com/angular/en/simple-component/ to install and use jest, I get babel errors -- maybe we need to setup jest slightly differently?

[code]

*NOTE*: this is with `@storybook/angular@rc` -- the 4.0 version. SB3.4 doesn't work with the new angular CLI at all.

**SECOND NOTE**: to get storyshots wo

[2018-11-05 21:11] agrippanux opened #63 "Latest version of addon-knobs breaks tutorial"
Hi

In following your excellent tutorial, I ran into a roadblock on the Addons section.  Doing `yarn add @storybook/addon-knobs` gives me the latest addon-knobs (v4.x), and that causes an "Accessing non-existent channel" error when going to Storybook.

After a comparing your code @ https://github.com/chromaui/learnstorybook-code/commit/f4d933#diff-f5db38d9ba5560598e902c026311b340, I updated my pac

[2018-11-06 00:59] tmeasday commented on #63
Hi @agrippanux -- is it possible you started the tutorial before Storybook 4 was release (early last week)? If so I think the issue is just that you started with SB3.4 then installed the v4 knobs addon.

I think Storybook should show a better error in such cases but I think this was just bad luck in your case! I'm glad you figured it out! The tutorial now has been updated to work with SB4, but as

[2018-11-06 00:59] #63 closed

[2018-12-07 09:42] lianglinux5 opened #64 "yarn start_error"
![yarn_start](https://user-images.githubusercontent.com/14293060/49639977-49a56c00-fa47-11e8-884a-afe4c2d36e8d.png)
yarn start error

Error: [BABEL] /Volumes/LaCie/react/taskbox/src/index.js: Cannot find module '@babel/plugin-syntax-jsx' (While processing: "/Volumes/LaCie/react/taskbox/node_modules/babel-preset-react-app/index.js$1$0")

yarn version:1.10.1
nodejs version:v10.11.0

[2018-12-08 11:23] LeadingLight opened #65 "Not able to run tests in simple component chapter"
I am not able to run yarn test after setting up the .storybook/config.js file in the simple component chapter.

The issue is that it won't find the require.context function that seems to be webpack specific.

[code]

[2018-12-09 23:17] tmeasday commented on #65
Hi @LeadingLight, things are a little confusing here. Which version of the tutorial are you following?

The solution to this problem is using a babel plugin (see https://github.com/storybooks/storybook/tree/next/addons/storyshots/storyshots-core#configure-jest-to-work-with-webpacks-requirecontext) -- unfortunately CRA (the react version) doesn't support custom webpack configs, so we are kind of st

[2018-12-09 23:18] tmeasday commented on #64
Hi @lianglinux5 -- this looks to me like maybe `yarn` hasn't installed properly. Perhaps try `yarn` again?

[2018-12-10 22:39] LeadingLight commented on #65
Ops, sorry for not providing more context.

Thanks for the explanation.
Yes, I am running the react version, so manual labour it is then :)

FYI I also had an issue with running the storybook after project creation.
I hade to run `yarn add @babel/plugin-syntax-jsx` before `yarn run storybook` would run successfully.

[2018-12-10 22:39] #65 closed

[2018-12-19 17:21] domyen commented on #12
Closing this. Keeping track of all the image versions is probably out of scope right now because it adds more maintenance surface area. I want to make releasing new editions and updates as easy as possible for contributors. 🙏

[2018-12-19 17:21] #12 closed

[2018-12-20 11:59] Prasanna-Poonacha opened #67 "Publishing component library as NPM package"
The whole concept of storybook, component library and using in the application is very cool. I was looking at something which could be used in other projects too as a npm package and use the components from the component library. Is there a way to do it ?

[2018-12-20 14:40] icarlossz commented on #67
Yes, it can. There a lot of medium articles about it, I think its a good idea put something about it in learnstorybook.

[2018-12-20 14:47] Prasanna-Poonacha commented on #67
I did see lot of posts in medium. Different ways. It really makes sense to put in learnstorybook and relates really well. I request to put something. I am following react learnstorybook. Every looks really great. But I want to publish and use it in other projects too.

[2018-12-20 14:53] icarlossz commented on #67
In my job we have a storybook library published in npm for all the projects that follows the same styleguide, you can find how to do it in any medium article like I told you. And there should definitely be something for that in this tutorial.

[2018-12-20 15:01] Prasanna-Poonacha commented on #67
Sure. Which job ?

[2018-12-20 15:05] icarlossz commented on #67
I work at Walmart, all that stuff is private, sorry.

[2018-12-20 15:07] Prasanna-Poonacha commented on #67
I get it. Thank you :)

[2018-12-20 16:13] domyen commented on #67
That'd be an awesome resource for the Storybook community!

Publishing to NPM is a bit more advanced than what people just getting started with Storybook are looking for so it probably doesn't belong in this edition of LearnStorybook.com. Typically, the practical time for a team to publish a library is when other product teams start using it.

Perhaps it's time for a **sequel** to LearnStorybook t

[2018-12-20 19:18] Prasanna-Poonacha commented on #67
Sure. I am in too @domyen :)

[2018-12-27 13:02] geromegrignon commented on #3
Hey @domyen
I can work on French translation starting with Angular.

[2018-12-27 15:31] domyen commented on #3
@geromegrignon Yes please! The Angular editions don't have the recently added [addon chapter](https://www.learnstorybook.com/react/en/addons/) yet, can you include that in your translation? 🙏

[2018-12-27 17:05] geromegrignon commented on #3
ok, do you want me to make a PR to add this chapter to the Angular english version as well?

[2018-12-27 17:06] domyen commented on #3
Yea that’d be awesome 👏
On Thu, Dec 27, 2018 at 12:05 PM Gérôme Grignon <notifications@github.com>
wrote:

[2018-12-28 17:56] jonniebigodes commented on #3
If you want i can help out with the portuguese translation. I will start with the react version and then move on systematically to the angular and vue documentation.

[2018-12-28 18:15] domyen commented on #3
Yes we’d really appreciate it @jonniebigodes! @tmeasday is looking to
update the tutorial to +4.x in the next couple of days so perfect timing 👌
On Fri, Dec 28, 2018 at 12:56 PM jonniebigodes <notifications@github.com>
wrote:

[2018-12-29 01:48] tmeasday commented on #3
Just to be clear I think the written text + code samples work more or less with 4.0 (let me know if not!). It’s just the code repository is a little out of date.
On 29 Dec 2018, 5:15 AM +1100, Dominic Nguyen <notifications@github.com>, wrote:

[2018-12-29 17:10] jonniebigodes commented on #3
OK, and as soon as the tutorial is done, i'll pick up on it and proceed from there and start the translation. Sounds good?

[2018-12-30 17:39] jonniebigodes commented on #3
@tmeasday sorry it was my mistake, i understood it wrong. I'm cloning the site's repository and start working on the translations as we speak.

[2019-01-22 15:09] domyen commented on #67
I'm going to close this because publishing Taskbox's components isn't in the scope of this guide. I'm going to make another issue to document "advanced" topics for the sequel to Learn Storybook.

[2019-01-22 15:09] #67 closed

[2019-01-22 15:12] domyen opened #77 "Learn Storybook sequel – Mastering Storybook – a guide for intermediate/advanced users"
This issue documents "advanced" topics that readers have inquired about in the past. These topics will be incorporated into the sequel to Learn Storybook. Feel free to suggest topics for the team to consider.

- Organizing your Storybook
- Setting up SB in production
- Collaboration (Loop/Deploy)
- Testing (visual, responsive, a11y, i18n, etc.)
- Publishing the component library
- Feedback loops w

[2019-01-24 16:49] moonformeli commented on #3
@tmeasday I think I can translate this into Korean, starting from React first, if you think it's okay.

[2019-01-24 19:12] domyen commented on #3
🙏 @moonformeli I'd be thrilled about a Korean translation.

🎉 Shoutout to @jonniebigodes for shipping Portuguese!

[2019-01-24 19:17] icarlossz commented on #3
I can do the Vue translation to spanish 👨🏻‍💻

[2019-01-24 19:20] domyen commented on #3
@icarlossz yes please!

[2019-01-24 19:24] jonniebigodes commented on #3
almost finished with the vue translation

[2019-01-25 10:43] moonformeli commented on #3
@domyen  Quick question. Is it better to do PR with fully translated files than with partially translated files? :)

[2019-01-25 13:30] domyen commented on #3
Fully translated is a bit easier. But if you end up submitting a PR with
partial translations just mention that in the post and I’ll add a “do not
merge” tag.
On Fri, Jan 25, 2019 at 5:43 AM moonformeli <notifications@github.com>
wrote:

[2019-01-30 19:41] jalovatt opened #78 "Final code for the 'data' chapter doesn't work"
Lovely tutorial, but I've hit a bit of a roadblock.

Working through the "Wire in data" section, my Storybook tests predictably stop working when `TaskList` is renamed to `PureTaskList` - however, the solution given still doesn't work. Instead, I'm just given the following error:

` Invariant Violation: Could not find "store" in the context of "Connect(PureTaskList)". Either wrap the root componen

[2019-01-30 23:45] tmeasday commented on #78
Hi @jalovatt,

Is it possible you did `import PureTaskList from '..'` rather than `import { PureTaskList } from ...`?

[2019-01-31 19:41] jonniebigodes commented on #78
@jalovatt i was about to post a answer with a reproduction, but it looks like it's solved, Going to close this issue if you don't mind, Have a great time with Storybook 👍

[2019-01-31 19:41] #78 closed

[2019-02-14 19:09] pranaythota opened #80 "diffrences"
what are the diffrences between testing tool storybook and mocha or jest

[2019-02-14 20:17] jonniebigodes commented on #80
@pranaythota to my knowledge none whatsoever. I'm inclined to believe that jest was chosen as a preference, i haven't fully tested it with mocha...it's been on the "back burner" (pardon the bad pun) for quite a while

[2019-02-14 22:39] tmeasday commented on #80
@pranaythota do you mean the difference between storybook and jest say?

Maybe this article (which talks about component explorers, storybook being the best example) could help: https://blog.hichroma.com/the-crucial-tool-for-modern-frontend-engineers-fb849b06187a

[2019-02-14 22:39] #80 closed

[2019-03-05 16:37] domyen commented on #3
@tmeasday just updated the English guide to the new [Storybook 5.0](https://medium.com/storybookjs/storybook-5-0-db1d0f9c83b8).
The translations could use a review so they stay up to date!

Mind taking a look @icarlossz @alterx @luchux @chinanf-boy @danielduan @jonniebigodes 🙏

[2019-03-05 19:55] jonniebigodes commented on #3
@domyen i've been keeping an eye on the twitter feed and saw the update. I was looking for a update on the guide so that i could make the changes on the translations. Going to start making the necessary adjustments starting tomorrow.

[2019-03-05 23:51] tmeasday commented on #3
I'm not sure I made any text changes -- I updated the code snippets where required (very limited) in all the translations, and all the images are shared so should have just worked. You can check commits to be totally sure of course.

However I only did the React version. If someone has the time to walk through the Vue and/or Angular tutorials and see if there any problems that would be greatly app

[2019-03-06 00:28] alterx commented on #3
@domyen, Carlos reporting for duty :P
I'll take a look to the Spanish and English versions of Angular during this week. I think there's also a new chapter that's missing for the Angular version, I'll add that one too.

[2019-03-17 19:59] b0g3r commented on #3
I started translating of vue part to Russian in https://github.com/b0g3r/learnstorybook.com/tree/ru

[2019-03-17 22:50] tmeasday commented on #3
Awesome!

Tom
On 18 Mar 2019, 6:59 AM +1100, Dima Boger <notifications@github.com>, wrote:

[2019-03-22 02:13] nemaniarjun opened #84 "Wire in data: Changes made to App.js not mentioned"
changes made to App.js in the following commit should be mentioned in the [tutorial here](https://github.com/chromaui/learnstorybook.com/blob/master/content/react/en/data.md)

https://github.com/chromaui/learnstorybook-code/commit/9c50472

Otherwise the following error is shown in storybook
[code]

[2019-03-22 02:20] nemaniarjun commented on #84
Actually scratch that, the actual change is needed in the TaskList Story,
I modified the `addDecorator` to make it work as follows:

[code]

[2019-03-22 02:25] nemaniarjun commented on #84
Actually it works without the changes, but still might be informative to the reader.

[2019-03-22 02:25] #84 closed

[2019-04-11 00:20] Ericnunez commented on #3
@domyen Hi, I wanted to help with the Spanish translation for Vue. I didn't see anyone assigned but I wanted to make sure that I was able to contribute. If there is someone assigned can you please tell me what needs to be translated. Thanks a lot!

[2019-04-11 19:20] icarlossz commented on #3
Hey @Ericnunez, I'm very busy rn then if you can help with the translation to spanish I can help with reviews and any help that you need!

[2019-04-11 22:00] Ericnunez commented on #3
Hi @icarlossz , That sounds good! I''l start working on the documents and follow up when i'm ready for a review.

[2019-04-15 22:20] Ericnunez commented on #3
@icarlossz, Hey mate, just opened a pull request for my first translation. Could you review the file when you get a chance? Thanks!

[2019-04-17 00:51] icarlossz commented on #3
@Ericnunez Looking now!

[2019-04-17 01:52] chinanf-boy commented on #3
@domyen Sorry, miss
i will take a look with chinese

[2019-04-18 06:03] chinanf-boy commented on #3
@domyen up to date #87

[2019-04-30 02:37] cheironz commented on #3
I can do the Vue translation to Simplified Chinese.

[2019-05-19 09:40] ux-engineer opened #92 "Vue with TypeScript Example Configs Missing"
TypeScript is coming fast for Vue. Already at this point, it may not be such a good idea to start a new Vue project without TypeScript...

Could you please update Vue tutorial to show proper configurations for working with TypeScript also?

[2019-05-19 17:36] shilman commented on #92
@tmeasday Let's get the typescript presets released and into LearnStorybook!

[2019-05-27 02:21] lyqht opened #96 "Storybook Guide for React Native"
I think it will be great if there is a guide for React Native Storybook! There is a massive lack of guides on RN, and right now, there are vast differences in terms of expectations and implementations of Storybook for React vs React Native which the current Storybook website fails to highlight.
e.g.
- Deployment of the Storybook as a static web app (buildstorybook does not exist for RN)
- Interfac

[2019-05-31 17:22] jonniebigodes commented on #96
@lyqht sorry for the late response, but for me personally i don't see why it shouldn't exist. If you're willing to do so, it's fine by me. If you don't mind, just follow the same structure outlined for every other framework present and make a pull request. Sounds good?

[2019-06-03 01:22] lyqht commented on #96
Alright! i'll get to it once im done learning and implementing the various features of Storybook :)

[2019-06-10 05:59] ryan-stephen opened #103 "composite-component.md line 248 unclear"
Need more clarity about this line. I can work on enhancing this line if the intended meaning was conveyed.

[2019-06-11 01:14] tmeasday commented on #103
Hi @ryan-stephen -- it refers to the fact that the test's verification step depends on some details of the HTML implementation that are not integral to the behaviour of the component (the fact that it's an `input` DOM element for instance). This dependency in the test makes it brittle and harder to maintain

[2019-06-11 03:24] ryan-stephen commented on #103
Thank you @tmeasday -- I'll see if I can simplify it.

[2019-06-11 05:35] #103 closed

[2019-06-11 06:40] jocfico opened #104 "Storybook fails to restart in Angular tutorial at config section"
In the following section of the Angular tutorial:

https://github.com/chromaui/learnstorybook.com/blob/master/content/angular/en/simple-component.md#config

When prompted to restart the Storybook server with `yarn run storybook` the following errors are generated:

[code]

[2019-06-13 15:47] domyen commented on #96
Stoked for this @lyqht!

[2019-06-14 09:30] jsmasterathul opened #107 "error while using requireContext"
Once we start to use requireContext  in  .storybook/config.js, running the storybook is giving me an error, I was following the exact steps mentioned in tutorial.

<img width="1680" alt="Screenshot 2019-06-14 at 2 51 28 PM" src="https://user-images.githubusercontent.com/10139957/59498952-09222180-8eb4-11e9-9c36-480e35d8c1cd.png">

if I start to use `const req = require.context('../src', true, /.st

[2019-06-19 13:01] omerg commented on #107
Same here.

[2019-06-19 22:08] kylesuss commented on #107
@jsmasterathul I tried to reproduce this, but I am not seeing an issue. I'm thinking that there are probably a few ways that could have arrived at this point -- Can you describe your workflow for seeing this error? Were you following the guide and bootstrapping the app yourself? Did you clone the project from the example site (https://github.com/chromaui/learnstorybook-code) at a specific commit?

[2019-06-21 07:13] jsmasterathul commented on #107
@kylesuss

I tested with the below versions of storybook (the github url you shared ) with me and things worked fine
"@storybook/addon-actions": "^5.0.0-rc.10",
    "@storybook/addon-knobs": "^5.0.0-rc.10",
    "@storybook/addon-links": "^5.0.0-rc.10",
    "@storybook/addon-storyshots": "^5.0.0-rc.10",
    "@storybook/addons": "^5.0.0-rc.10",
    "@storybook/react": "^5.0.0-rc.10",

I could conclu

[2019-06-21 07:15] jsmasterathul commented on #107
version 5.1.7 is not compatible with require-context.macro, that is the version that gets installed when you follow the docs. thanks

[2019-06-21 07:18] jsmasterathul commented on #107
current version 5.1.9 works fine. thanks

[2019-06-25 19:41] msegmx opened #110 "Request: Angular project src"
Sorry, but I can't find the Angular version of the code, despite [this](https://github.com/chromaui/learnstorybook-code/pull/4).

Could someone please help with providing a link to the Angular code for the [tutorial](https://www.learnstorybook.com/angular/en/get-started)?

[2019-06-25 20:23] kylesuss commented on #110
@msegmx I believe this is what you are looking for:

https://github.com/chromaui/learnstorybook-code/tree/angular

There is a separate branch for the angular code. Does that help?

[2019-06-25 20:38] msegmx commented on #110
Yess, thanks a lot!

[2019-06-25 20:38] #110 closed

[2019-06-27 12:12] jhta commented on #3
I can help with Vue to Spanish

[2019-06-27 13:10] domyen commented on #3
@jhta that'd be awesome!

[2019-07-01 12:23] skondiloza commented on #107
Hi can you please update this post because it is so annoying when you follow steps and end up with errors. After so much time I figure that problem is missing dependencies. You need to install @babel/core and babel-loader for this to work. You said in your text that we need to use babel macro, and if that should make as know that we need to install this dependencies it is very unclear. So please a

[2019-07-01 15:28] skondiloza commented on #107
Hi again it seams that this fix is broken next section because then when I tried this new test on TaskList I got conflict on that babel-loader versions. And solution is to add specific version there, so instead of just adding babel-loader it has to be babel-loader@8.0.5

[2019-07-09 12:02] 53able commented on #3
I can make Vue translation to Japanese 🇯🇵

[2019-08-12 07:39] AstiV opened #127 "Learn Storybook HTML"
Hey there,

not sure if this is the right way to approach you with the subject, so feel free to close this issue, if not.
First of all, thank you for providing this great resource. Did the tutorial for react and really enjoyed it.
Anyhow, I was wondering, if you are planning to add Storybook HTML (in combination with a templating system like mustache) to your curriculum any time soon?
We're consid

[2019-08-12 15:14] kylesuss commented on #127
Hi @AstiV 👋

We don't have any current plans for this, though would welcome a community contribution for it if it is useful to enough people!

[2019-08-12 15:31] AstiV commented on #127
Hi @kylesuss :)

Thanks for your reply! I see... Well, if I understand it well enough to be able to contribute, I am more than happy to do so. But first, I am trying to learn how to use it (and evaluate wether we implement it) 😅

[2019-08-12 15:34] kylesuss commented on #127
Sure, I understand. Is the official guide helpful?

https://storybook.js.org/docs/guides/guide-html/

Are your issues more about setup? Or the process of building out the stories?

[2019-08-12 18:39] domyen commented on #3
@53able we'd love your help on a Japanese version 🙏.

[2019-08-21 10:11] rich-TIA opened #131 "Redux store data not used in React tutorial 'Data' chapter"
I followed through the chapter [Wire In Data](https://www.learnstorybook.com/react/en/data/) on wiring in data. I couldn't help notice that the data in the store did not appear to be used in the final code, or show up in Storybook.

Indeed it doesn't even appear in the screenshots which accompany the chapter and subsequent chapters.

I know it is possible to make this happen because I am currently

[2019-08-21 13:52] jonniebigodes commented on #131
@rich-TIA i'm inclined to believe that the chapter in question demonstrates the capabilities of storybook, it demonstrates that you can hook up a datasource, like in this case redux store and test it in isolation so to speak. Also i'm inclined to believe that the reason that the code does not move onto other chapters is because it's meant to be kept simple and don't try to "muddy the waters"(pardo

[2019-08-22 01:16] rich-TIA commented on #131
Thank you @jonniebigodes . That makes sense and I'm comfortable with the results of the Data chapter not flowing into subsequent ones. However, I think it would add to the power of the tutorial were the data store as wired have a material effect on the stories on display. Apart from anything else, it would ensure students know they have taken all the right steps. As it is, I now have no idea wheth

[2019-08-22 15:03] domyen commented on #131
That's a good point @rich-TIA. As @jonniebigodes mentioned, the goal of the tutorial is to teach people how to build and compose UI components. Avoiding deep dives into data is intentional because it's a complex ever-changing topic (plus there are more comprehensive guides out there). We're trying to cover how a dev _might_ manage data without prescribing a best practice.

[2019-08-22 23:52] rich-TIA commented on #131
Fair enough and thanks for your time guys. I'll close this issue now.

[2019-08-22 23:52] #131 closed

[2019-08-29 19:11] #127 closed

[2019-08-29 19:12] #107 closed

[2019-08-30 11:11] AstiV commented on #127
Oh dear,

sorry I totally missed your reply @kylesuss. Thanks for getting back!
Yes, the link you provided, was the first thing I looked at to understand how to setup the project.

What I was looking for was a more detailed tutorial-like step-by-step format about both setup and the process of building out the stories...

I found this resource
http://derhess.de/2019/04/19/storybook-html-tutorial-pa

[2019-09-07 17:17] #64 closed

[2019-09-07 17:18] domyen commented on #52
Doesn't appear to be reproduced given that we're seeing a lot of readers load fonts successfully. Closing.

[2019-09-07 17:18] #52 closed

[2019-09-20 15:06] domyen opened #137 "Review Design Systems for Developers guide"
@tmeasday and I are creating a new Storybook guide! 🎉 It'll be launched with the website refresh that @kylesuss is working on [here](https://github.com/chromaui/learnstorybook.com/pull/106).

**Overview**
“Design systems for developers” is a free 9-chapter guide that teaches professional developers about the design system infrastructure and production workflows used by the smartest frontend teams.

[2019-09-20 15:34] jonniebigodes commented on #137
@domyen i've been following the awesome work @kylesuss been doing in the preview and it's looking awesome. If you don't mind i'll go over it tonight and during the weekend and i'll report back. Sounds good?

[2019-09-20 15:40] domyen commented on #137
For sure, thanks Jonnie! 🙇‍♂️

On Fri, Sep 20, 2019 at 11:34 AM jonniebigodes <notifications@github.com>
wrote:

[2019-09-22 19:52] jonniebigodes commented on #137
i've gone through it and left in some comments. But asides from that, nice effort on your part on creating such a really well written and essential piece of documentation, that's also easy to follow.

Can't wait to see this published and available.

@domyen and @tmeasday i would like to thank you both for your effort in putting this together.

[2019-09-22 20:23] jonniebigodes opened #138 "A couple of quick questions"
This one has been on the back burner for quite some time and sorry for that.
Here are the questions:

- While i was working in translating the documentation, one thing kept me wondering and that was about the `addons` section, react has it but vue and angular doesn't, is this section left out by omission, probably due to the fact that probably no one made a pr for it? Should it be a good thing to

[2019-09-23 02:31] tmeasday opened #139 "Create Addons Guide"
In progress here: https://github.com/chromaui/learnstorybook.com/pull/91

[2019-09-23 08:41] danielduan commented on #137
Looks pretty good! I put some thoughts there as well.

[2019-09-23 16:42] domyen commented on #138
Great questions.
- Omission wasn't intentional. We're definitely looking for help to translate those sections and for more help in Vue and Angular (both for this guide and in Storybook itself).
- Good idea. Would totally welcome a PR that adds a copy button to the syntax highlight.

I know we have a [syntax highlighter](https://storybook-design-system.netlify.com/?path=/docs/design-system-highligh

[2019-09-23 17:33] kylesuss commented on #138
@jonniebigodes I think a safe approach would be to add the feature to the [`Highlight` component in the design system](https://github.com/storybookjs/design-system/blob/master/src/components/Highlight.js). The end goal is to have that component be apart of the design system & able to be used in any client application. There was just a difference in how some of the clients implemented it, so I coul

[2019-09-23 20:19] AndrewWeb-Dev commented on #104
I was able to get passed this issue by only including the less loader in the webpack.config.js
[code]

[2019-09-23 20:36] AndrewWeb-Dev commented on #104
Exact same issue here

[2019-09-25 14:58] queuestack commented on #3
@domyen I can help with the Korean translation for Angular!

[2019-09-25 15:26] domyen commented on #104
Hey @drew-codes @jocfico I cowrote the guide in React but am not that familiar with Angular which is why this issue has languished. Any chance y'all can help us get to the bottom of it and submit a PR? That would help the Storybook Angular community immensely. 🙏

[2019-09-25 16:24] domyen commented on #3
That would be awesome 👏

On Wed, Sep 25, 2019 at 10:58 AM Seongkyu Lee <notifications@github.com>
wrote:

[2019-09-25 21:53] jonniebigodes commented on #138
@kylesuss sounds excelent. Once again, you've been doing a really awesome job with this implementation.

@domyen regarding the code in this repo for vue i'm currently testing some things out and i'm going to create a issue and we can go over it afterwards. Sounds good?

Also as a side note that i forgot to ask when i commented out in #137 and if you can share some insights on it. Do you plan to re

[2019-09-25 21:54] #138 closed

[2019-09-28 14:58] domyen commented on #138
@jonniebigodes We plan to release the guide as part of LearnStorybook! Would love and appreciate translations! 🙇‍♂️

[2019-09-28 15:27] jonniebigodes commented on #138
@domyen ok...i've been checking the commits being made to the next branch. As soon as it's relased i'll start working on it

[2019-09-30 11:45] marieqg opened #143 "Hot Reloader doesn't work with React Js"
Hello,
I have been through the tutorial and I have a problem with the Hot Reload that does not work. I mean the project is working but I have to restart storybook (npm run storybook) everytime I make one change on a file to see it appear.

I have already check/try :
- that the module keyword is present (```storiesOf('TaskList', module)```)
- deleting nodes_modules and reisntalling (using npm or ya

[2019-09-30 15:11] marieqg commented on #143
I'm closing my issue. The problem was this one : ttps://github.com/webpack/docs/wiki/troubleshooting#not-enough-watchers

[2019-09-30 15:11] #143 closed

[2019-09-30 15:13] jonniebigodes commented on #143
@marieqg sorry for the issue you've experienced, but glad that you found a solution for it.

[2019-10-02 22:22] domyen commented on #137
This is now published. Thanks folks 🙇

[2019-10-02 22:22] #137 closed

[2019-10-02 22:40] jonniebigodes commented on #137
@domyen no need to thank, glad that i was able to provide some insights and contribute to it. Going to check it out shortly and start working on the translations

[2019-10-04 04:51] hirankit commented on #52
Adding Storybook Using:

`npx -p @storybook/cli sb init`

will have:

_package.json_
`  "scripts": {
    "storybook": "start-storybook -p PORT_NUMBER"
  }`

but to have Storybook serving static assets from folder: ./public, we need:

_package.json_
`  "scripts": {
    "storybook": "start-storybook -s ./public -p PORT_NUMBER"
  }`

[2019-10-04 05:33] tmeasday commented on #52
@hirankit I just followed the steps in the guide and I end up:

[code]

I wonder what command you ran?

[2019-10-04 13:32] Tmarty opened #153 "Mix between Yarn and npm"
I just completed the tutorial and enjoyed learning about storybook.

However I noticed a mix of `npm` and `yarn` commands throughout the tutorial. Would you be interested in a PR consolidating the commands to use either `npm` or `yarn` throughout for consistency? And if so, which?

[2019-10-04 15:52] jpmarra opened #154 "Typo in Design Systems for Developers React build.md"
There is a typo in `build.md` in which there is an unterminated string in the config example.

Issue:
[code]
should be:
[code]

I tried opening a PR but I didn't have permission to create the PR 😢

[2019-10-04 16:09] domyen commented on #153
@tmeasday what do you think?

[2019-10-04 16:12] domyen commented on #154
Thanks for the heads up @jpmarra fixed 🙇‍♂️

[2019-10-04 16:12] #154 closed

[2019-10-04 16:21] jpmarra opened #155 "Storysource Webpack rule causing build errors in Design Systems for Developers [REACT]"
### Description
When I followed the instructions for adding `webpack.config.js` into `.storybook`, which pushes the loader rule for `addon-storybook`, it caused the build to error in every `.stories` file with the error `Import in body of module; reorder to top  import/first`.

After researching the issue, I found that this comment seems to solve the problem: https://github.com/storybookjs/storybo

[2019-10-04 16:27] jonniebigodes commented on #153
@Tmarty you've beat to the punch, i was compiling a list of fixes so that the documentation could move forward. But in this case you addressed it. From my read i think that npm would be the choice, for the following reason, newcomers to the ecosystem will be prompted to use npm as the de facto package manager, more experienced ones will know by then that yarn is a option and when they follow the d

[2019-10-04 17:05] domyen commented on #155
thanks @jpmarra (just invited you to collaborate too)

[2019-10-05 00:50] tmeasday commented on #153
I kind of agree @jonniebigodes although one other factor is that `create-react-app` uses `yarn` (and creates a `yarn.lock`), and `sb init` also follows that. So we kind of accidentally use `yarn` in the first couple of steps.

I'm not sure what happens if the user doesn't have `yarn` installed at that point.

[2019-10-05 00:59] jonniebigodes commented on #153
one test i'm ok with doing is, remove yarn from my system, leaving in only npm as the de facto package manager  and purge any cached information and try it with only npm. I can do it tomorrow as it's almost 2 am where i'm at and i want to finish the translation of the introduction on the "design systems for developers" document. Do you mind waiting a bit @tmeasday and @Tmarty ?

[2019-10-05 01:58] tmeasday commented on #153
Of course! I can try too sometime soon
On 5 Oct 2019, 10:59 AM +1000, jonniebigodes <notifications@github.com>, wrote:

[2019-10-06 02:57] shilman commented on #139
@ndelangen I think the guide needs some testing. Specifically, the "full source code" of `panel.js` is typescript not JS, so it won't work as advertised. I'm not sure whether there are other updates needed.

[2019-10-06 22:27] jonniebigodes commented on #153
Sorry for the delay, but the testing took a bit more than expected.
I'm going to enumerate the steps i took for this issue below:

- Started by purging the yarn cache, it took me a bit more than expected as you can see
![test_yarn_1](https://user-images.githubusercontent.com/22988955/66276535-13fe2900-e88c-11e9-8b4b-b7783e46af67.png)
- Also purged the npm cache to get a clean slate
![test_yarn_2](

[2019-10-06 23:39] tmeasday commented on #155
Seems to work! Thanks so much @jpmarra, this was something that had bugged me a bit.

[2019-10-06 23:49] tmeasday commented on #153
Thanks for the detailed investigation @jonniebigodes.

My only remaining concern is inexperienced users who happen to have both `yarn` and `npm` installed (i.e. they've installed `yarn` at some stage for whatever reason, but aren't experienced enough to mentally translate between `npm` and `yarn` commands).

The issue for such users is that `create-react-app` will default to `yarn` but all subsequ

[2019-10-07 00:10] jonniebigodes commented on #153
@tmeasday i fully understand your reasoning, i was only focusing on experienced users and new users relative to the ecosystem. And wow i didn't know that, the flag option, wow someone learned something new today(pardon the bad pun). And your proposal looks like the perfect fit for each case. I'm up for it as it will streamline the whole documentation.

[2019-10-07 15:07] kylesuss opened #162 "Fix prettier settings for MD files or reformat all of them"
It seems that saving a MD file causes it to update for those that have prettier enabled. I think that is expected, but maybe we can do 1 big PR where all of the files are reformatted at once so it doesn't just happen sporadically in smaller PRs.

[2019-10-07 15:20] domyen commented on #162
Yea I agree

[2019-10-07 19:03] jpmarra opened #165 "MDX integration causes build error"
### Description
When following the Documentation steps in Design Systems for Developers, I came across a build error with `@babel/parser` when I changed the config to import the new mdx file `Avatar.stories.mdx`

Via the instructions [here](https://www.npmjs.com/package/@storybook/addon-docs), adding `babel-loader` as a dev dependency seems to solve the issue. Not sure if this is 100% needed but I

[2019-10-07 19:16] dstroot commented on #165
I had the same issue last night - since it was late I gave up went to bed.  I’ll give this a try.  I was bummed not to be able to get MDX to work!

[2019-10-08 03:24] tmeasday commented on #165
That's weird, I've not seen that before. @jpmarra / @dstroot I assume you've been following the guide as written? Can you post the versions of the various SB packages you are using? And the `react-scripts` version?

By best guess would be maybe the version of `@storybook/docs` you used maybe was out of sync with the other SB packages?

@shilman I think you'd be best to take a look at this. We can

[2019-10-08 15:36] jpmarra commented on #165
@tmeasday You were correct. It seems that `@storybook/addon-docs` was on `5.2.3` while the other SB packages were on `5.2.1`.
![Screen Shot 2019-10-08 at 10 36 05 AM](https://user-images.githubusercontent.com/22504731/66410170-abb06400-e9bf-11e9-83f7-6deaf5181abf.png)

After updating the SB packages, and removing `babel-loader` as a dev dependency, I am no longer receiving any build errors and the

[2019-10-08 16:19] Tmarty commented on #153
Great investigation and I learned something new too :)

Let me know if you want any help implementing this.

[2019-10-09 00:46] tmeasday commented on #165
That is surprising, I would have thought either `sb init` would add that or `react-scripts` would depend on it. Perhaps a separate SB issue?

[2019-10-09 07:58] chiangs opened #174 "SDS: MDX causes chromatic test error"
Going through the Design System tutorial, after adding the `Intro.stories.mdx` file, the build fails on the chromatic test on CircleCI...builds fine locally.
![code](https://user-images.githubusercontent.com/10984593/66461915-4a999680-ea7a-11e9-8819-cfbdc4624abe.png)
![code](https://user-images.githubusercontent.com/10984593/66461941-5ab17600-ea7a-11e9-93f4-616bd918037f.png)
![code](https://user-i

[2019-10-09 11:50] stephanbm commented on #3
@domyen I’m not sure if anyone has mentioned this or not, but if not I would be more than willing to translate Vue/Angular into Portuguese. I’m fluent in Brazilian Portuguese.

[2019-10-09 15:06] jpmarra commented on #174
@chiangs Try clearing your CircleCI cache. update the `v1` to `v2` in the `config.yml`under `restore_cache` and `save_cache` like so:
![Screen Shot 2019-10-09 at 11 04 12 AM](https://user-images.githubusercontent.com/22504731/66493752-96e9d400-ea84-11e9-987e-3673d4aab193.png)

This is likely due to the timing of SB updates from `5.2.1` to `5.2.3`. Even though your current local env is building cor

[2019-10-09 15:24] domyen commented on #3
@stephanbm That'd be sweet!

The "Intro to Storybook" guide is already translated to Portuguese but "Design Systems for Developers" is not. Would you be interested in helping with that?

@jonniebigodes expressed interest in the past so he might be keen to support you!

[2019-10-09 15:59] #155 closed

[2019-10-09 16:48] jpmarra opened #176 "Incorrect use of prepare script & missing @babel/cli dependency"
## Babel Issue
While working through the Distribute instructions, I ran into a babel issue when the package was building after install (unfortunately I didn't get a screenshot of this before I fixed it). It was an `unknown option` error to the build script `"BABEL_ENV=production babel src -d dist"`.

After looking through the example code base, I realized that `@babel/cli` was a dependency. I adde

[2019-10-09 18:01] jonniebigodes commented on #3
@domyen  i'm almost done with the portuguese translation for the guide "Design Systems for Developers", as i type this. It still needs to be proof read. But technically is done. What i propose and if @stephanbm doesn't mind is the following, you make a portuguese brazilian version of the guides, start with the intro to storybook and i can help you with the react part of it, should you need help an

[2019-10-09 19:32] jpmarra opened #177 "Avatar MDX file not included in build"
I noticed that when the design system is built, it leaves the `Avatar.stories.mdx` file out of the build. This leaves this component out of the UI of the app.

This seems to be the case in the screenshot in the Distribute docs as well:
<img width="1119" alt="example-app-storybook-with-design-system-stories" src="https://user-images.githubusercontent.com/22504731/66513824-f0182e80-eaa9-11e9-9fb3-f0

[2019-10-10 02:18] tmeasday commented on #176
I think maybe you just missed this one?

<img width="840" alt="image" src="https://user-images.githubusercontent.com/132554/66533794-e224e500-eb5f-11e9-9d5f-dd9dd849ddac.png">

Whoa, this is super surprising! Why is babel not just importing from `@babel/runtime` (which should end up being  dependency of our published design system), but instead importing from the installed location of `@babel/runt

[2019-10-10 02:22] tmeasday commented on #177
Maybe we need to include a flag so babel copies the `mdx` file across to the `dist` folder unchanged? Although that relies on the user having the proper mdx setup in their Storybook to be able to import it.

TBH this particular way of importing one storybook into another is problematic (for reasons like this) and we'd like to get a better, first class way into SB eventually. It's something @ndelan

[2019-10-10 19:38] jpmarra commented on #176
Totally missed that step! My bad.

Definitely seems like `@babel/runtime` shouldbe handling these imports. 🤷‍♂  Whats the benefit of using `prepare` here over `postinstall`?

[2019-10-11 01:10] tmeasday commented on #176
I think `prepare` runs the build process before `npm publish`, whereas `postinstall` runs it after the user installs the package. Usually people just publish the contents of their `dist` so the user doesn't need to install the `devDependencies` (require for build) in order to use the package (and to avoid a bunch of CPU cycles ;) )

[2019-10-11 06:22] davevr commented on #104
Same issue here as well.

[2019-10-11 07:13] chiangs commented on #174
@jpmarra did not make a difference for me, still same error in the build.

[2019-10-11 20:46] nickytonline commented on #162
First, thanks for all the great work. I can work on this. I can also add a precommit hook via Husky and lint-staged if you want. I did it over on the DEV repository a while back.

https://github.com/thepracticaldev/dev.to/blob/master/package.json#L18

[2019-10-11 21:14] domyen commented on #162
@nickytonline I'm into it! What do you think @kylesuss?

[2019-10-11 21:18] kylesuss commented on #162
Sounds great @nickytonline 💯

We had a little convo going in a PR that might be of interest to you:

https://github.com/chromaui/learnstorybook.com/pull/175#issuecomment-540718986

We aren't sure that the prettier/eslint setup is correct with regard to markdown files. It feels odd that the markdown files are autoformatting to have double quotes whereas our other files are single quoted. There are

[2019-10-11 22:20] jonniebigodes opened #182 "Design systems for developers missing image"
While giving the finishing touches to the translation regarding the "Design Systems for Developers", when i've reached the "Document page" it seems that one image is missing. The markdown has the following content:
[code]
Checking the `static` folder where the assets are stored, the image in question as you can see in the screenshot below:
![learn_design_systems_document_image_missing](https://use

[2019-10-13 19:30] jonniebigodes commented on #104
@davevr i've been fiddling with this over a couple of days and i think i have a solution.

Here is the testing approach i've used to triage this issue.
- Following the introduction guide, created a new angular website with `npx -p @angular/cli ng new taskbox --style less`.
- cd into it
- Installed Storybook as per instructions with `npx -p @storybook/cli sb init`.
- Copied over the less files need

[2019-10-13 22:32] tmeasday commented on #182
Thanks @jonniebigodes I guess I missed this!

[2019-10-13 23:01] jonniebigodes commented on #182
@tmeasday no problem, glad to help out

[2019-10-14 01:06] jonniebigodes commented on #182
Fixed with #184.

[2019-10-14 01:06] #182 closed

[2019-10-14 09:29] tmeasday commented on #139
This was merged 🎉

[2019-10-14 09:29] #139 closed

[2019-10-15 00:11] so99ynoodles commented on #3
@domyen I can help with React translation to Japanese and maybe Korean.

[2019-10-15 11:05] horacioh commented on #165
the problem here is solved if you set some options on `.storybook/presets.js` file:
https://github.com/storybookjs/storybook/blob/master/addons/docs/README.md#preset-options

working on a PR to add this to the docs :)

[2019-10-15 11:11] horacioh commented on #174
maybe this is related to #165 ?

[2019-10-15 13:13] grahamcrackers commented on #165
I was going through this tutorial last night and I just wanted to confirm that adding the following snippet did allow mdx to work for me.
[code]

[2019-10-15 16:30] domyen commented on #3
@so99ynoodles thank you! Thrilled about the Japanese translation – it was on my wishlist from day one!

[2019-10-15 19:37] horacioh commented on #165
yeah @grahamcrackers, this code solved it for me! :)

[2019-10-16 14:22] domyen opened #192 "Link languages on GuideScreen to respective guides"
Link the languages listed on guide screen to their respective guides. This makes the languages more discoverable and saves non-English speakers from extra clicks.

<img width="730" alt="Screen Shot 2019-10-16 at 10 19 33 AM" src="https://user-images.githubusercontent.com/263385/66927877-91e5d100-effe-11e9-847b-83a069b62185.png">

[2019-10-16 16:08] chiangs commented on #174
This fixed it [link](https://github.com/storybookjs/storybook/issues/8345#issuecomment-539739617)

[2019-10-19 18:13] jonniebigodes commented on #104
@davevr i've been testing and it seems that the problem is fixed with a new version of Storybook, if you can, update the your dependencies and you should not see the issue anymore, you can read more about it [here](https://github.com/storybookjs/storybook/issues/7877).

[2019-10-21 06:05] Robin-Hoodie commented on #3
I can help with the Dutch translation

[2019-10-21 06:23] domyen commented on #3
A Dutch translation would be incredible! 🙏

On Mon, Oct 21, 2019 at 2:05 AM Robin Hellemans <notifications@github.com>
wrote:

[2019-10-21 06:34] Robin-Hoodie commented on #3
What's your view on skipping translations for technical terms for the Dutch translation?

E.g. "story file" translates to "verhaalbestand" in Dutch, but to be honest if I were to talk to a Dutch speaking colleague I wouldn't say "verhaalbestand" as that's a "forced" translation of something we both understand perfectly well in English.

If anything, it'd raise some eyebrows as it sounds a bit sill

[2019-10-21 14:16] luchux commented on #3
Hey Robin! we have not forced translations in spanish either. Those terms
that are common names to the "programming or computers" domain, that in
general we don´t use with colleagues remains better in english!

Hear also Dominic opinion of course, but back in the days when we did
spanish that was the rule.

cheers

On Mon, Oct 21, 2019 at 3:34 AM Robin Hellemans <notifications@github.com>
wrote:

[2019-10-21 14:58] domyen commented on #3
@Robin-Hoodie as @luchux mentioned, using "story" and other programing-specific nomenclature in English is the right call. That way folks can seamlessly transition from our guides to Storybook's English API docs. Thanks for asking though!

[2019-10-22 22:36] jonniebigodes commented on #192
@domyen i'm going to make a pull request soon addressing this issue. Also one thing before i proceed further, do you want the component story files updated as well?

[2019-10-23 14:36] domyen commented on #192
Yea! Since we do Component-Driven Development the [Hero component's](https://www.chromaticqa.com/component?appId=5cf841a3f3e3d200208ffc74&name=Screens%7CGuideScreen%2FHero&buildNumber=198&specName=default) story should get updated to reflect the new behavior.

[2019-10-23 16:15] jgerlach opened #202 "Clarity in Design Systems for Developers tutorial"
On the [Build](https://www.learnstorybook.com/design-systems-for-developers/react/en/build/) step of the tutorial when explaining about GlobalStyles and the `addDecorator` function it never actually says where to add the code. I ended up adding it to the `config.js` and that worked, but it doesn't tell you to do that in the tutorial. In the actual Docs on [Decorators](https://storybook.js.org/docs

[2019-10-23 16:39] jonniebigodes commented on #202
@jgerlach i missed that one when i was proofreading. But i'm a little biased as i'm knowledgeable of how Storybook handles Decorators.
Reading the section in question, i understood where it should be placed. But for a new person that comes into contact with Storybook via this tutorial, it might be a bit misleading on where the code should be placed.
Probably a better wording that might handle the

[2019-10-23 17:16] domyen commented on #202
That's a good catch @jgerlach. I support that proposal 👍 @jonniebigodes.

[2019-10-23 17:46] jgerlach commented on #202
That's exactly what I was thinking 👍

[2019-10-23 17:50] jgerlach commented on #202
Just below that You might want to say that to add the font link that we will create the file called `preview-head.html` since it doesn't already exist when you pull the files with svn.

[2019-10-23 17:52] jgerlach commented on #202
Should I create a new issue for each typo I find, or should I create a list of them in a single issue?
![Screen Shot 2019-10-23 at 10 49 53 AM](https://user-images.githubusercontent.com/1945808/67420299-99235680-f58b-11e9-9573-43d15fe71d08.png)

[2019-10-23 18:34] jonniebigodes commented on #202
@jgerlach regarding:

Probably a better rewording would be something like:
"Our design system also relies on the font Nunito Sans to be loaded into the app. The way to achieve that in an app, depends on the app framework (read more about it here), but in Storybook the easiest way to achieve that is to create the file `.storybook/preview-head.html` if it doesn't exist and add the following content,

[2019-10-23 19:14] domyen commented on #202
I agree with @jonniebigodes re:list of issues. That way we can tackle them
all at once.

[2019-10-23 20:56] jgerlach commented on #202
@jonniebigodes I think It's actually explained pretty well in the main docs so you can have a link back to them. How about this?

After the `<link ...>` I would add a link to the docs on how the `preview-head.html` file works.

The docs page has a really good explanation, although you might want to add that it's also a good way to inject font tags.

[2019-10-24 02:57] jonniebigodes commented on #202
Sounds good to  me. Add this also the list we discussed earlier so that we can start tackling them and improve the docs.

[2019-10-24 03:01] jonniebigodes commented on #192
@domyen i'll do the final round of checking tomorrow as it's almost 2 am where i'm at. And create the pr detailing what i've done. Sounds good?

[2019-10-25 22:11] jonniebigodes commented on #192
Fixed with #204

[2019-10-25 22:11] #192 closed

[2019-11-09 10:14] geromegrignon opened #213 "Angular documentation includes a React screenshot"
The [Get Started](https://www.learnstorybook.com/intro-to-storybook/angular/en/get-started/) part of the Angular version of the documentation includes a screenshot of a react starter page.

As it's a .png composed with 2 other screenshots (command line and storybook starter), does one of the maintainers still have the original screenshots to make a new version for Angular?

If needed, here is a li

[2019-11-09 16:50] domyen commented on #213
@geromegrignon thanks for the link, very helpful 🙇

Would something like this work:
![image](https://user-images.githubusercontent.com/263385/68532050-27ffd500-02e7-11ea-9527-b0465d0f85fe.png)

[2019-11-09 17:08] jonniebigodes commented on #213
@geromegrignon and @domyen the angular tutorial is being rewritten as i type this. There are some key items that need to be addressed and that was one of them. I'm going to copy over the image and use it if you both don't mind. Sounds good?

[2019-11-09 17:22] geromegrignon commented on #213
Sounds good for me.
@jonniebigodes  don't hesitate if you need help for the angular tutorial. I just started to review the existing tutorial to clean it up before working on french translation but i'll stop for now.

[2019-11-09 17:43] domyen commented on #213
Perfect, thank you 🙇‍♂️

[2019-11-11 05:11] soobing opened #216 "icon-star is not shown"
Hi I am using css from [this link](https://github.com/chromaui/learnstorybook-code/blob/master/src/index.css) as written in document.
![image](https://user-images.githubusercontent.com/16860535/68562354-a5b11580-048c-11ea-8d75-0cb925a5972a.png)

However the icon star is not shown. I think I need more link from css not only that link. This is not really critical and unimportant but I want to fix it

[2019-11-11 06:28] soobing commented on #216
![image](https://user-images.githubusercontent.com/16860535/68565802-ea8e7980-0497-11ea-9ec1-c41a65092a02.png)
I think every icon shown like that

[2019-11-11 09:29] geromegrignon commented on #216
Keep reading the tutorial. The next step is to add icon assets to your project.

[2019-11-11 13:42] soobing commented on #216
Opps Sorry I passed this section. Thanks for reply.
![image](https://user-images.githubusercontent.com/16860535/68591642-88079e80-04d4-11ea-8fc0-ab37e9cbf855.png)

[2019-11-11 16:36] domyen commented on #216
Closing thanks @geromegrignon 🙇

[2019-11-11 16:36] #216 closed

[2019-11-13 11:44] mluisamc commented on #3
Can I help with the Spanish translation of Vue?

[2019-11-13 17:59] domyen commented on #3
@mluisamc that'd be awesome 🙏

[2019-11-13 18:04] domyen opened #217 "Dutch translation appears as 'nl' not 'Nederlands'"
In the UI, Dutch should appear as 'Nederlands' and not the country code `nl`.

@ghengeveld can you confirm that this is how the language is printed in Dutch (as a native speaker). See the screenshot below.

<img width="415" alt="Screen Shot 2019-11-13 at 1 02 04 PM" src="https://user-images.githubusercontent.com/263385/68790839-16376e00-0616-11ea-94bb-15ac5a60afeb.png">

[2019-11-13 18:21] kylesuss commented on #217
To have a display name, `nl` has to be added as a key here:

https://github.com/chromaui/learnstorybook.com/blob/master/src/lib/getLanguageName.js

[2019-11-13 21:12] ghengeveld commented on #217
Yes it should be "Nederlands".

[2019-11-13 22:02] #217 closed

[2019-11-18 23:32] tmeasday opened #221 "Migrate React/English to Triconfig"
Let's start with this (PR will be open until 5.3 ships) and see how it goes.

[2019-11-26 09:25] jonnysmith1981 opened #223 "Can't install with Angular project"
I have tried both the "Quick" and "Slow"-start instructions but in both cases the installation fails with: `Error: Could not find a default project in your Angular workspace. Add a project and re-run the installation.`
Using Angular 8.3.6

[2019-11-26 09:43] geromegrignon commented on #223
As stated, you need a default project into your workspace.
Did you create your workspace with Angular CLI using the `--createApplication= false` option?

Then you may add one using `ng generate application <application name>`.

[2019-11-26 14:42] jonnysmith1981 commented on #223
This is the structure of my workspace (created by the Angular CLI):
![image](https://user-images.githubusercontent.com/8254912/69643197-ded7b100-105a-11ea-944e-e4f214ebe881.png)

[2019-11-26 19:21] geromegrignon commented on #223
I tried to reproduce your issue :

* `npm install -g @angular/cli@8.3.6`
* `ng new projectName`
* `npx -p @storybook/cli sb init --type angular`

I was able to install Storybook correctly.
The only way to reproduce your issue was creating a workspace without a default project.

May you add a link to a repo with your project to inspect it?

[2019-12-04 00:24] tmeasday opened #225 "Update react code + commits"
With some recent changes:

## Intro to SB
 - [ ] Latest SB version
 - [ ] CSF
 - [ ] ?

## DS for devs
 - [ ] Latest SB version
 - [ ] CSF
 - [ ] Update preset: https://github.com/chromaui/learnstorybook.com/pull/187/files

[2019-12-04 09:38] qoalu commented on #155
Can you update the docs with this?

[2019-12-05 00:53] jonniebigodes commented on #155
@qoalu i think that the tutorial is correct, the issue lies with the readme in the addon itself. Should you be interested open a pull request in the storybook repo with the change above, so that not only the people that read the tutorial benefit from this, but the rest of the community. What do you think @tmeasday  and @domyen ?

[2019-12-05 15:02] sipuxd opened #227 "learn storybook in angular"
I'm trying to build out a composite component in the angular storybook tutorial https://www.learnstorybook.com/intro-to-storybook/angular/en/composite-component/

In the "Build out the states" section it wants me to import { Task } from './task.model'; however, the tutorial did not have me build a task.model..... I even looked in the code to keep synced with the chapter and it also does not have t

[2019-12-05 15:27] geromegrignon commented on #227
Here is the Task model (from the previous section [**Simple Component**](https://www.learnstorybook.com/intro-to-storybook/angular/en/simple-component/))

![image](https://user-images.githubusercontent.com/32737308/70248994-0aa21780-177c-11ea-9539-ec88090564c6.png)

[2019-12-05 19:24] jonniebigodes commented on #227
@sipuxd and @geromegrignon sorry for that, i've got some issues with angular and storybook that need to be addressed, so between testing it and modifying it, i put it on the back burner and moved on with svelte and a tutorial for react native that's currently under review. I hope i manage to have my issues fixed and mop up the rest of the documentation shortly.

[2019-12-09 11:11] jonnysmith1981 commented on #223
Sorry for the delay in responding. I started a new blank ng project and compared its angular.json with my own. My version was missing the `defaultProject` config and once I added that in I was able to install Storybook.

[2019-12-09 11:11] #223 closed

[2019-12-09 18:21] domyen commented on #155
Agree with @jonniebigodes. Can you open up a PR in the SB repo @qoalu? I can help with reviewing it there.

[2019-12-11 14:27] renet commented on #3
I'm working on a German translation. Started with React, just yesterday. :)

[2019-12-11 16:38] domyen commented on #3
Awesome @renet! You're a legend 👏

[2019-12-11 23:53] #96 closed

[2019-12-12 21:52] renet commented on #3
Just a quick question: How about comments in the example code snippets? Translate them, or leave them as is?

[2019-12-12 22:09] jonniebigodes commented on #3
@renet for now leave them as is. I had a recent discussion with one of the maintainers of this repo about this issue and despite being fully aware and understand that applying such translations would allow a more tailored read on what is happening. But it would lead to some extra issues further down the line.

[2019-12-23 02:43] tmeasday commented on #221
Merged!

[2019-12-23 02:44] tmeasday commented on #221
Whoops, wrong issue.

[2019-12-23 12:21] jacknevitt opened #236 "Intro To Storybook - Tests Fail after 'Single Component/Automated Testing' steps"
Tests are expected to pass after pasting the code from the guide in the project.
The output on `yarn jest`:
[code]

[2019-12-23 19:16] jonniebigodes commented on #236
@jacknevitt sorry for the issue you're experiencing. I think i have a solution for it.. Going to make some more tests and report back, do you mind waiting a bit longer?

[2019-12-23 22:26] jacknevitt commented on #236
Thanks! No problem. No need to rush, I'm just exploring storybook while things are quiet in the office

[2019-12-23 22:59] jonniebigodes commented on #236
@jacknevitt sorry to keep you waiting, but i've have a solution for your issue.

The documentation is correct. I've just followed the steps to the end of the simple component section and everything checks out. Looking at your issue description, the issue is on your end. You mentioned that you issued `yarn jest` and the script that is setup by cra and is then used with Storybook is `yarn test`.

Ru

[2019-12-30 21:56] renet commented on #236
I'm having an issue in exactly the same place, so I post it here instead of opening a new issue:

I found that the following part of the `.storybook/config.js` file seems to be incorrect for the case of this tutorial:

[code]

I followed the tutorial from scratch to verify my translation, and I found that according to the [storyshots docs](https://github.com/storybookjs/storybook/tree/master/addon

[2019-12-30 23:06] jonniebigodes commented on #236
@renet sorry for the inconvenience and misleading. The React version of the tutorial was updated so that it uses CSF format to allow early adoption by the readers. There are still some things that need to be addressed, one being that code snippet. The correct snippet should be the following:

[code]
With this the snapshots will go through and stories will be picked up.

Also the code base in which

[2020-01-01 11:44] ozanmanav commented on #3
If you need Turkish, I can support you. :)

[2020-01-01 16:27] jonniebigodes commented on #3
@ozanmanav that would be fantastic! I think that the team would love to have a Turkish translation added, allowing the documentation to reach even further. Can't wait to see it up here.

[2020-01-02 18:02] domyen commented on #3
Thanks Ozan!

On Wed, Jan 1, 2020 at 10:27 AM jonniebigodes <notifications@github.com>
wrote:

[2020-01-05 00:21] qasimalyas commented on #236
I also just had this issue and using the updated code, specifically, the below resolved my issue.

[code]

[2020-01-05 10:31] calidan-x opened #241 "A small mistake"
https://www.learnstorybook.com/intro-to-storybook/react/en/using-addons/
In session **Adding A New Story To Avoid Regressions**

_longTitle_ should change to _longTitleString_

[2020-01-05 19:11] jonniebigodes commented on #241
@calidan-x you're correct and thanks for bring it to the attention of the team. The documentation is currently being updated by the team in a effort on their end to make people start using a new simpler and more functional way to create stories. With that the documentation is being updated incrementally. Probably me or @tmeasday or @domyen will update it in the coming days.

Sorry for the inconven

[2020-01-06 17:38] kylesuss commented on #241
Fixed in #240

[2020-01-06 17:38] #241 closed

[2020-01-07 17:06] KrishnanSriram opened #245 "Customize Storybook layout"
Can we customize top left corner logo (Storybook image) and search bar for enterprise consumption?
<img width="210" alt="storybook" src="https://user-images.githubusercontent.com/5131690/71913726-151e4b00-3146-11ea-9d53-1b1e6a8c9b30.png">

[2020-01-07 19:36] jonniebigodes commented on #245
@KrishnanSriram to the best of my knowledge and based on the documentation you can apply some styling to the layout of your Storybook, you can read up more about it [here](https://storybook.js.org/docs/configurations/theming/). That particular change you intend to do, i believe that it's probably not possible. I'll leave it to more knowledgeable people with Storybook to add a more detailed answer

[2020-01-09 18:48] renet commented on #3
Just a little fix for the first post of this issue:

**How to get started, 5.** should be updated like this:

[2020-01-13 20:02] domyen commented on #245
As @jonniebigodes mentioned, you can theme SB – checkout the theming docs. Here's a [cool theming example](https://reaviz.io/?path=/story/docs-intro--page) from the community.

I'm going to close this now because it's not related to the tutorial. If you have further questions, try [our Discord chat](https://discord.gg/UUt2PJb) or the Storybook issue tracker. Thanks!

[2020-01-13 21:07] jonniebigodes commented on #236
@domyen and @jacknevitt if you both don't mind  i'm going to close this now as it's answered.

@jacknevitt If you have further questions, re-open it and leave a comment or try the Discord chat or the Storybook issue tracker. Thanks!

[2020-01-13 21:07] #236 closed

[2020-01-15 06:51] Myoxocephalus opened #253 "Guides link dropdown in navigation is missing focus color."
Some motivation for this:
https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-focus-visible.html
When i use the page with only the keyboard and focus the Guides drop down i get no indication it´s active.
<img width="117" alt="Skärmavbild 2020-01-15 kl  07 02 11" src="https://user-images.githubusercontent.com/2316544/72411561-79a36080-376b-11ea-877b-bd6adff8188d.png">
Expected result

[2020-01-15 17:42] domyen commented on #253
Hey @Myoxocephalus good find. Would be happy for you to open an PR for this – the code for this lives in the Tooltip component of the Storybook Design System. If you send one I can help merge it and update the deps here!

repo: https://github.com/storybookjs/design-system
published SB: https://storybook-design-system.netlify.com/?path=/docs/design-system-intro--page

[2020-01-15 21:29] jonniebigodes commented on #245
@domyen you forgot to actually close it 😉

[2020-01-15 21:29] #245 closed

[2020-01-16 03:23] DaleSeo opened #256 "Update Storybook install guide"
I just realized that `npx -p @storybook/cli sb init` no longer generates `.storybook/config.js`. Instead, it creates `.storybook/main.js` as of Storybook v5.3.3. I suggest updating the following guide so that it doesn't mislead. For example, with the new setup, there is nothing we should do to get the sample stories indexed because it is already configured like `stories: ['../src/**/*.stories.js']

[2020-01-16 04:32] jonniebigodes commented on #256
@DaleSeo the documentation is currently being updated. There's a couple of prs addressing this situation. More specifically #251 and #249, be on the lookout as probably soon it will available.

[2020-01-16 14:36] DaleSeo commented on #256
@jonniebigodes Oops! Sorry for opening this issue without looking through existing issues. You guys seem to be doing great! 👍

[2020-01-16 14:36] #256 closed

[2020-01-16 15:24] jonniebigodes commented on #256
@DaleSeo no need to apologize. As i said before be on lookout as the documentation will be updated shortly.

[2020-01-16 16:23] domyen commented on #256
Thanks for the heads up nonetheless @DaleSeo. Great job @jonniebigodes 🙇‍♂️

[2020-01-20 23:03] #221 closed

[2020-01-22 15:11] sshiling opened #265 "Vue Tutorial. Wire in data. Doesn't work."
https://www.learnstorybook.com/intro-to-storybook/vue/en/data/
It doesn't work as described.
The reason is the store is registered for the Vue App, not for the StoryBook App.
So when I try to use store in my TaskList.vue  - I get an error:
"Cannot read property 'state' of undefined"
Here is the screenshot: http://i.shotnes.com/u/2778/0122/screenshot_5279.png

[2020-01-22 17:57] sshiling commented on #265
This tutorial doesn't show how actually to use vuex with storybook,
After cloning TaskList into PureTaskList there's no information about the next vuex store use in TaskList. I found that it works as expected just after store import into TaskList component.
I add store to the default story. But how can I preset other stories (empty, loading, withPinnedTask) using my actual store?

[2020-01-22 20:42] jonniebigodes commented on #265
@sshiling regarding this:

It does show you how to use Storybook and Vuex. The tutorial's flow is incremental, you start small with a simple component, move into a composite component, add in a data management package, more specifically in this case `vuex` in the data section and sets the tone for the next section that is the screens section, in there it all coalesces into a "full blown app" in th

[2020-01-22 20:46] domyen commented on #265
💯@jonniebigodes is right. That's how the tutorial is structured.

[2020-01-23 04:06] sshiling commented on #265
@jonniebigodes , @domyen , okay. Got it.
I'm sure you know better how to do this tutorial.
It's just my thoughts about potential improvements.

[2020-01-23 04:06] #265 closed

[2020-01-24 05:50] #213 closed

[2020-01-24 15:41] jonniebigodes commented on #104
@domyen and @tmeasday i'm going to close this as this is already solved with #228

[2020-01-24 15:41] #104 closed

[2020-01-24 15:42] jonniebigodes commented on #227
@domyen and @tmeasday i'm going to close this as this is already solved with #228

[2020-01-24 15:42] #227 closed

[2020-01-24 15:42] jonniebigodes commented on #60
@domyen and @tmeasday i'm going to close this as this is already solved with #228.

[2020-01-24 15:42] #60 closed

[2020-01-29 17:52] domyen opened #270 "Make framework and language chooser more discoverable"
It's hard to find how to get to Angular or Vue tutorials. Requires some design.

Reported by Kai Roeder who maintains the SB Angular integration 🙏

[2020-01-29 18:08] jonniebigodes commented on #270
We could start with making the icons in the landing page for each framework a link to each version of the tutorial.
More specifically those
![lsb_change_1](https://user-images.githubusercontent.com/22988955/73383937-2f20f880-42c2-11ea-9cc6-77b6d649bd7b.png)

[2020-01-29 18:27] domyen commented on #270
That is an awesome idea for that landing page.

For the tutorial sidebar, what do you think about separating the framework
and languages picker like so? That way folks can immediately see which
frameworks are available to them.
[image: image.png]

On Wed, Jan 29, 2020 at 1:08 PM jonniebigodes <notifications@github.com>
wrote:

[2020-01-30 00:39] tmeasday commented on #270
@domyen the image didn't work

[2020-01-30 16:11] domyen commented on #270
![image](https://user-images.githubusercontent.com/263385/73467426-4f4bc880-4351-11ea-8faa-96da5e86a387.png)

[2020-01-31 10:22] stephyswe commented on #177
**STARTPOINT**
https://www.learnstorybook.com/design-systems-for-developers/react/en/distribute/

**SECTION**
Prepare your design system for export

[code]

This can be done with ---copy-files flag which copies all files in src into dist folder.

Todo so replace
`"build": "BABEL_ENV=production babel src -d dist",`
WITH
`"build": "set BABEL_ENV=production&& babel --copy-files src -d dist",`

**REMA

[2020-01-31 13:02] stephyswe commented on #177
Seems there is an answer @ https://github.com/chromaui/learnstorybook.com/issues/165

[2020-01-31 17:23] jonniebigodes commented on #177
@stephyswe i've skimmed through the existing documentation and it seems that there are still some lingering issues, as it's not accurate, there are some things that need to be addressed as with the recent release of 5.3 with new configuration available. It's my belief that the team behind Storybook focused on the development and release of the said version to make not only the configuration more a

[2020-01-31 17:24] jonniebigodes commented on #270
@domyen @tmeasday @kylesuss you mean something like this:
![lsb_change_2](https://user-images.githubusercontent.com/22988955/73558823-daa98480-444b-11ea-8f41-d7d17b55ed7f.png)
![lsb_change_3](https://user-images.githubusercontent.com/22988955/73558825-daa98480-444b-11ea-9d50-a5588ea2d7d4.png)

I'm still taking a look at the styling and design system components used to fine tune this. So that's why

[2020-02-02 00:21] tmeasday opened #274 "Building storybook does not work on windows"
As reported by @stephyswe on Discord:

1.  Prepare your design system for export - BABEL_ENV needs "set" to work for Windows Users, also --copy-files to add .mdx files in /dist/ folder
REPLACE
{
  "scripts": {
    "build": "BABEL_ENV=production babel src -d dist",
WITH
{
  "scripts": {
    "build": "set BABEL_ENV=production&& babel src -d dist --copy-files",
...

[2020-02-02 00:51] tmeasday opened #275 "Add a banner indicating that a translation isn't updated to latest release"
Based on a discussion in Discord with @stephyswe:

I think maybe whenever we do a significant release of SB we should add banner to all translations saying "This guide has not been updated yet to SB@X -- if you can help, send a PR here: <>".

Then whenever someone submits a PR to update a translation to that version, that translation can also remove the banner. Probably we'd just have a config fie

[2020-02-02 01:16] jonniebigodes commented on #275
@tmeasday and @stephyswe that is partially addressed, when i did the angular documentation rewording i left in the following in the `get-started` documentation inside a `<div class="aside">`:

Roughly translated to english what is said above is the following: "This translation is not updated! You can help us improve it by clicking the link at the bottom of the page, not only the team will apprecia

[2020-02-02 01:25] jonniebigodes commented on #274
@tmeasday i was reading this and why not use something like [crossenv](https://www.npmjs.com/package/cross-env) for this? I think it could offer some flexibility to the readers, not only windows based ones, but for macos and linux ones. To avoid making the readers having to explicitly set it. @stephyswe do mind sharing your input on this aswell?

[2020-02-02 22:49] tmeasday commented on #274
Yeah, sure although I wanted to remind myself why setting the env var was needed in the first place.

[2020-02-03 00:19] tmeasday commented on #274
This should be fixed by #276.

[2020-02-03 00:20] tmeasday commented on #177
I'm still not sure what we should do about this one. I think I am OK with the mdx stories not appearing when imported, given we have a better solution to this problem coming in 6.0. I don't think we should encourage people to publish their mdx files as it'll cause all end of incompatibility problems when imported into SBs that don't include MDX.

What do people thing?

[2020-02-03 16:08] domyen commented on #177
@tmeasday do you mean exporting them with the design system package and then importing them into consumer apps?

[2020-02-03 16:11] domyen commented on #275
Yea, that makes sense to show @tmeasday. We could probably do it as an `.aside` message in Markdown. Good wording @jonniebigodes

[2020-02-04 03:03] tmeasday commented on #177
@domyen, yes right now we transpile the `.stories.js` files and place them inside the package that is published to npm. This allows consumers to import those stories without needing to share babel configs etc with the author of the npm package.

So far so good. But when it comes to mdx, there is no babel plugin you can use to compile it to ES5, as the storybook mdx loader has a bunch of smarts tha

[2020-02-04 16:47] IvanSotelo commented on #3
@domyen Can I help with the Spanish translation of Svelte and React Native?

[2020-02-04 17:58] kylesuss commented on #275
I'm on board w/ the idea. Does seem like it could be hard to remember to add/remove the banner though, especially if it is an all manual process. Anyone have a good idea for that?

[2020-02-04 19:59] domyen commented on #3
@IvanSotelo that'd be really awesome for the Spanish-speaking dev community. 🎉

[2020-02-06 02:19] jonniebigodes commented on #275
@tmeasday @domyen @kylesuss i was thinking about it and the present state of how the documentation is structured. My first thought was to add in a new field by extending the already existing nodes that gatsby will create for the markdown. Something like `lastModified` and possibly use it as a baseline to compare both the original version of the documentation/tutorial with a translation. In paper i

[2020-02-06 03:28] tmeasday commented on #275
Hmm, interesting thought @jonniebigodes.

Honestly I was just thinking we'd have a global "latest storybook minor version" (e.g 5.3) somewhere in our config, and then each translation would have a field saying what version it was translated up to.

Then when you submitted a PR updating a translation for say 6.0, you'd update the local field. You'd pretty quickly realise when the PR was merged if y

[2020-02-06 19:09] jonniebigodes commented on #275
I left that option as food for thought, something that could be used to automate and streamline the whole processs. Leaving in the hands of the translator to implement the translation.

But we can do better with less work, with your comment in mind @tmeasday and taking a quick survey of the present state of the documentation these are the results:

[code]
Also we have something right out of the ba

[2020-02-06 21:59] tmeasday commented on #275
We could definitely do that but probably we can at the least remember to update the global "latest SB version" once in the metadata whenever we do a minor release (we don't need to worry about it when doing patch releases, e.g. 5.3.10).

I think what you are thinking there sounds about right. Thanks for doing the research on the table, very helpful.

[2020-02-07 11:49] nikolalardev commented on #3
Can I help with Bulgarian translation?

[2020-02-07 15:13] domyen commented on #3
@nikolalardev yes please! I'm sure the Bulgarian frontend community would benefit from your contribution 👏

[2020-02-07 15:16] domyen commented on #275
I'm in favor of simplicity here. Will defer to y'all on this (@tmeasday @jonniebigodes).  Thanks for thinking it through 🙇‍♂️

[2020-02-10 16:27] ElixirMike commented on #153
I have followed the steps above, but when I run "npm run test", I see "Error: no test specified".
What am I missing?

[2020-02-10 20:39] jonniebigodes commented on #153
@ElixirMike if you don't mind i'm going to take a look at this and report back, i need to confirm something before giving a more detailed answer. Do you mind waiting a bit?

[2020-02-10 20:47] ElixirMike commented on #153
I figured it out. I uninstalled yarn, and was running into an issue where the create-react-app was not correctly installing . I had to npm install create-react-app again, and then everything worked.

[2020-02-12 16:52] jonniebigodes commented on #153
@ElixirMike i wouldn't go to the extreme of removing yarn. Your issue kept me thinking and i took this for another "spin" (pardon the bad pun) and actually found something interesting. I followed @tmeasday 's suggestion and the Storybook documentation, more specifically the [get started](https://www.learnstorybook.com/intro-to-storybook/react/en/get-started/) for your scenario and another scenario

[2020-02-13 00:42] tmeasday commented on #153
@jonniebigodes So perhaps we should pass the `--all` to the command we tell people to run initially to check tests are working? I think somewhere along the line CRA started defaulting to watch mode, which as you've noticed only runs tests that have changed in the current commit (so none initially).

[2020-02-13 17:28] jonniebigodes commented on #153
@tmeasday that was my thought aswell and to prevent a situation like the one @ElixirMike mentioned it would be a best bet to apply the change, i can take care of it during the weekend as i have to work on the react pt translation as is a bit outdated.

[2020-02-15 10:07] toshihidetagami opened #280 "minor mistake on Creating addons page"
On Creating addons Page,

I followed this tutorial from the beginning, but I think there was no step to create babelrc file.

[2020-02-15 21:24] jonniebigodes commented on #280
@toshihidetagami the documentation was correct up until recently, as the changes introduced with Storybook 5.3 alot has changed and that section was left a bit untouched. And for that i'm sorry as i was the person behind the rewording/restructuring of the said section.

 I'm currently doing some validations regarding this particular section so that it will benefits not only you but the rest of the

[2020-02-21 18:00] jonniebigodes commented on #280
@toshihidetagami to provide you some additional context up until version 5.3, for instance with React, you were required to have a `.babelrc` file to allow Storybook to grab the stories correctly. It was covered in the guide.  And when i did the rewording of the said section of the tutorial it was matching correctly. When version 5.3 came into play it meant a lot of nice features one of which the

[2020-02-21 18:47] jonniebigodes opened #284 "Issue with Create addon section"
While working on the updates for the documention to allow them to be compliant with Storybook >=5.3 starting from the Svelte version and further testing with Angular and React it seems that there are some issues between the current documentation and Storybook. I created a issue in the Storybook repo describing what was happening initially in Svelte, then further tested in the remainder frameworks.

[2020-02-22 04:18] toshihidetagami commented on #280
Thank you so much for the detailed explanation. Because this problem will be covered in #284, I will close this issue.

[2020-02-22 04:18] #280 closed

[2020-02-24 00:49] tmeasday commented on #284
Hey @jonniebigodes -- hmm it looks like a recent change in the `next` branch isn't working with windows there. It looks like the error you posted above got a bit garbled, can you post it again?

Can you add a `preview.js` to a vanilla CRA app in `6.0.0-alpha.8`, or do you always get that error?

[2020-02-24 13:11] ndelangen commented on #284
A full error would indeed be helpful.

If you'd have to the time we could do a meeting about this problem? https://calendly.com/ndelangen/storybook

[2020-02-24 17:08] jonniebigodes commented on #284
@tmeasday and @ndelangen the error posted is actually intentional. That was the output that was thrown with `v6.0.0-alpha.18`.

Here's the full one:
[code]

The error happens with a version greater than 6.0.0-alpha.8, i tested it with a couple of versions afterwards and they started to throw this error.

Here's a screenshot of the setup with all the key files involved `./.storybook/addons/register

[2020-02-25 05:30] Lutece commented on #3
@domyen HI :)

I'd like to ask if I can start translating Korean for this project.

I asked the person who said he'd start work first, and he said he couldn't start because of personal reasons. (nickname: moonformeli)

Can I take over and start it?
and is there any guide which i can refer to translation progress?

[2020-02-25 22:09] domyen commented on #3
@Lutece Yes please, a Korean translation sounds awesome. 🙇‍♂️

[2020-02-26 05:21] #274 closed

[2020-02-26 09:08] tmeasday commented on #284
OK, thanks for that @jonniebigodes. I think the issue here is that this line: https://github.com/storybookjs/storybook/blob/d9612f7090e5e732175ea0de8e3e4c785e1a5e24/lib/core/src/server/preview/iframe-webpack.config.js#L58:L58

Doesn't work properly when `configFilename` contains `\` characters. Fair enough. 1 sec.

[2020-02-26 09:13] tmeasday commented on #284
Fix here (I think?): https://github.com/storybookjs/storybook/pull/9960

[2020-02-27 12:03] kjav opened #285 "Broken framework links"
Hi,
I have noticed a few problems with the links at the top of the "get started" pages to versions of the page for other frameworks.

First of all, the React version only links to Vue and Angular, not Svelte or React-native. All of the other pages link to all other pages.

https://learnstorybook.com/intro-to-storybook/react/en/get-started

Secondly, all of the Svelte and React-native links are bro

[2020-02-27 13:37] ndelangen commented on #284
@jonniebigodes could you verify that the newest alpha works again?

[2020-02-27 15:48] jonniebigodes commented on #285
@kjav sorry for any inconvenience that has been caused any inconsistencies in the documentation. But since a couple of releases of Storybook, the documentation has been having some major updates so that not only you, but other readers can get the most accurate information available. Now going by your points:

- Regarding this:

That is addressed in #283

Regarding this:

The React Native version i

[2020-02-27 18:36] jonniebigodes commented on #284
@ndelangen i've tested it and here are the results:

| Framework | Alpha version 20 |
|:---------:|:----------------:|
|  Angular  |        OK        |
|   React   |        OK        |
|   Svelte  |        NOK       |

Svelte breaks with the following:
[code]

All 3 frameworks tests were done with the exact same set of rules. The same images and code for the addon.

Feel free to provide feedback

[2020-02-28 09:54] kjav commented on #285
It's no inconvenience! I just wanted to help & contribute by reporting an issue I found. Thanks for the reply.

[2020-02-28 15:40] ndelangen commented on #284
confirmed, investigating..

[2020-02-28 15:55] ndelangen commented on #284
I found something:

I was able to make it work in "^6.0.0-alpha.20".
https://github.com/ndelangen/storybook-repro-svelte-284

However if the project didn't have a git repo, it didn't work.

Without a git setup, the include filter for the main loader for storybook's manager wasn't correct.

The include should refer to the project's root, which we try to find based on the existence of git or `packag

[2020-02-28 15:56] ndelangen commented on #284
@jonniebigodes could you verify my repro works for you?

[2020-03-01 19:50] jonniebigodes commented on #284
@ndelangen sorry for the delay. I'm going to detail the steps i took to test the reproduction.
- Cloned your repo and installed the necessary dependencies.
- Issued `yarn storybook` and as is i got the following:

![ndelangen_1](https://user-images.githubusercontent.com/22988955/75631668-cc868980-5bec-11ea-92ff-8144e1430d1c.png)

and

![ndelangen_2](https://user-images.githubusercontent.com/229889

[2020-03-02 16:57] jonniebigodes commented on #285
@kjav thank you very much for bringing this up. Your contribution is really a valuable one.

 I've tracked the underlying issue and a pr is up for review.

[2020-03-02 18:19] jonniebigodes commented on #284
Just did another test and it's working with a repo initialized. Regarding the images issue, i've found the solution. Adding the `-s public` flag will pick up on the folder and the assets inside. Just like how it's used in the react version.

![addon_with_images_working](https://user-images.githubusercontent.com/22988955/75704998-52b8d380-5cb2-11ea-8b1d-4f940d9e9dbc.png)

A thought that occured me,

[2020-03-09 09:33] ndelangen commented on #284
yes

[2020-03-12 21:50] jonniebigodes commented on #153
Fixed in #283

[2020-03-12 21:50] #153 closed

[2020-03-16 17:17] jonniebigodes commented on #285
@kjav this was fixed with #288 if you don't mind i'm going to close the issue

[2020-03-16 17:17] #285 closed

[2020-03-16 17:18] kjav commented on #285
Please do, thanks for fixing :)

On Mon, 16 Mar 2020, 17:17 jonniebigodes, <notifications@github.com> wrote:

[2020-03-16 17:22] jonniebigodes commented on #285
@kjav no need to thank. Glad that i was able to help you out and i should be the one to thank you for bringing this up.

[2020-03-18 06:53] XiKun-TW commented on #3
@domyen
I can help with translate `design-systems-for-developers` into `Simplified Chinese`.

Started translated at:
https://github.com/XiKun-TW/learnstorybook.com/tree/translate-design-system-for-developers-zh-CN

[2020-03-18 07:56] ghengeveld commented on #3
That's awesome @XiKun-TW! We'd really love that.

I think we have to find someone to review it, because none of us know the language and I don't trust Google Translate to handle the subtleties.

[2020-03-18 08:11] XiKun-TW commented on #3
Yes, sure! Totally agree with `Google translate can't be trusted`.

I'll push my changes after finished all chapter. Feel free to have someone review it. lol.

[2020-03-22 14:09] domyen commented on #270
This is awesome @jonniebigodes! Thanks a ton (and apologies for the lag 🙏). Will follow up in the draft PR.

[2020-03-22 16:00] jonniebigodes commented on #270
@domyen no problem, no need to apologize, i know that you're probably hard at work, same as the rest of the team.

[2020-03-26 04:02] XiKun-TW commented on #3
Hi @domyen  @ghengeveld

I already finished my translation and self review work.
Here is my pull request: https://github.com/chromaui/learnstorybook.com/pull/301

Feel free get someone to review it.

[2020-03-26 15:57] domyen commented on #3
@XiKun-TW Amazing work, this is going to impact a lot of Chinese-speaking devs. 💪

I will track down some proofreaders.

[2020-04-02 18:16] jonniebigodes commented on #77
@domyen i've been checking this and we it seems that some of these items are already covered in the Design systems for developers tutorial, more specifically the items:
- Publishing the component library
- Using Storybook for component library & design system documentation

So i'm inclined to believe that those two could be crossed of the list.

Regarding the remainder:

- Organizing your Storyboo

[2020-04-04 17:31] andreeamaco commented on #3
I'd like to help translating to Romanian! :)

[2020-04-04 17:46] jonniebigodes commented on #3
@andreeamaco that is awesome. Can't wait for the pr to be up. If you don't mind the translation will need to be proof read by someone,  as me personally don't speak Romanian and probably none other elements of the team. And Google translate helps out, but only to some degree. Sounds good?

[2020-04-04 18:01] andreeamaco commented on #3
@jonniebigodes Yup that's good, I'll ask my FE colleague to collaborate and review! :)

[2020-04-07 01:49] tmeasday commented on #77
I think what we should think about is a new tutorial series aimed at using Storybook in application development (think of it as the complement to using it in design systems). I have a lot of ideas about that ;)

[2020-04-11 07:08] AnicetR commented on #3
Hello @domyen, I can help with translating the 'Intro to storybook' in French beginning with React.

[2020-04-11 14:18] domyen commented on #3
@AnicetR A French translation would be very much appreciated 🙏

[2020-04-18 21:26] Marie-Carrere commented on #3
Hi @domyen
I would also like to contribute to the translation of the React part in French 🇫🇷
How can I help ? 😀

[2020-04-18 22:50] jonniebigodes commented on #3
@AnicetR and @Marie-Carrere if you both could coordinate your efforts it would be awesome so that the translation gets merged as soon as possible. If you both don't have a means to reach out one to another. Don't forget that Storybook has a Discord server available in [here](https://discord.gg/UUt2PJb) that you both can use.

[2020-04-19 18:55] AnicetR commented on #3
@jonniebigodes : Of course, thanks!

@Marie-Carrere : I'm gonna put the little I did on my GitHub page tonight (I can't rn).
I'll send you an invite to the fork.

[2020-04-22 18:20] jonniebigodes commented on #77
@tmeasday sorry for the delay in this. A new tutorial in that form sounds really great. Gimme me a shoutout if you need any help with it.

[2020-04-26 16:03] MatthewTFarley opened #307 "Incorrect import path for src/shared/global.js"
In the [Design Systems for Developers - Test Section](https://www.learnstorybook.com/design-systems-for-developers/react/en/test/), there is an incorrect import path used:

<img width="1203" alt="incorrect-import-path-learn-storybook-com-design-systems-for-developers-test" src="https://user-images.githubusercontent.com/9663417/80312779-47b38880-87b5-11ea-958f-320073c1ace8.png">

The path to this f

[2020-04-26 16:13] MatthewTFarley commented on #307
#308 has the fix for this.

[2020-04-26 16:59] jonniebigodes commented on #307
@MatthewTFarley thanks for the contribution. I'm gonna check on my end and notes but if memory serves me right i think that you're correct and the import is incorrect. Do you mind waiting a bit while i check this?

[2020-04-26 17:20] MatthewTFarley commented on #307
@jonniebigodes, not a problem.

[2020-04-26 21:04] domyen commented on #307
Thank you @MatthewTFarley! 🙏

[2020-04-26 21:40] #307 closed

[2020-04-26 21:41] jonniebigodes commented on #307
@domyen yep this is correct. I can scratch this one from my notes.

Closing this with #308

[2020-04-27 16:14] jonniebigodes commented on #270
@domyen sorry for taking this long to merge this. Is now merged and with that i'm going to close this issue if you don't mind

[2020-04-27 16:14] #270 closed

[2020-04-27 17:22] domyen commented on #270
Close away :)

On Mon, Apr 27, 2020 at 12:14 PM jonniebigodes <notifications@github.com>
wrote:

[2020-05-19 17:11] theWebalyst opened #315 "Noob question: how to use components created in Storybook"
I've created a local storybook `svelte-iux` for svelte component development but in the tutorials I can't find an explanation of how to use these (example) components in a project. I've tried `yarn build` and then yarn linking from my project to the `svelte-iux` storybook I've created, but my project doesn't resolve `svelte-iux`.

In my project I have:
[code]
But I'm getting a build error:
[code]

[2020-05-19 19:00] jonniebigodes commented on #315
@theWebalyst sorry for issue you're facing. From your description it seems that what you want to achieve falls under [design systems for developers](https://www.learnstorybook.com/design-systems-for-developers/) guide.  The intro to Storybook only gives you the "tools" needed for start implementing your storybook in a application. To use the components and probably the storybook you've setup you'l

[2020-05-20 11:30] theWebalyst commented on #315
Thanks @jonniebigodes that's very helpful, and great to have such a quick response.

[2020-05-20 11:30] #315 closed

[2020-05-24 12:26] thisnamewasnottaken opened #318 "React Typescript Examples missing"
The React/TypeScript examples are missing in Intro to Storybook.

[2020-05-25 20:54] jeanphibaconnais commented on #3
Hi @domyen, i can help to contribute vue part in French 🇫🇷 😄

[2020-05-26 01:10] jonniebigodes commented on #3
@jeanphibaconnais me personally and the rest of the team would appreciate alot a french translation. Two things if you don't mind:

1- This will neeed to be further proofread, we'll ask around in the community for someone to proofread it as me personally my french is quite rusty and using google translator only gets us so far and probably some would not be properly translated.
2- If you can put th

[2020-05-26 05:23] jeanphibaconnais commented on #3
@jonniebigodes  Yes it's ok for me.

[2020-05-27 22:26] jonniebigodes commented on #318
@thisnamewasnottaken sorry for the delay in responding to your issue, I think that is by design, when the documentation was created it was intended to be approachable by a broader audience, to both newcomers and more advanced developers with this ecossystem. Newcomers to React will see a familiar codebase and developers more familiar with Typescript and React can use this and make the transition w

[2020-05-30 15:40] domyen commented on #318
Hey @thisnamewasnottaken, @jonniebigodes is correct. React TS is not something we're planning to do yet.

[2020-05-30 15:40] #318 closed

[2020-05-30 15:57] domyen commented on #3
@jeanphibaconnais that'd be awesome! 🙏 +1 to @jonniebigodes comment.

[2020-06-01 13:42] Darth-Knoppix opened #320 "Broken Link to Framework React Native : Testing"
### Problem:

From https://www.learnstorybook.com/intro-to-storybook/react/en/test/, navigating to the React Native link renders a blank page. This is because the link is broken.

![Screenshot 2020-06-01 at 14 34 35](https://user-images.githubusercontent.com/2019236/83414305-2c234980-a415-11ea-9f4d-e940e3ef57f9.png)

Notice the URL is a serialised `[object Object]`.

![Screenshot 2020-06-01 at 14

[2020-06-01 17:01] jonniebigodes commented on #320
@Darth-Knoppix first and foremost sorry for the inconvenience that presented itself with this issue. And second thank you very much for bringing this to the attention. I'm going to take a look at it and possibly fix it in a timely fashion.

Do you mind waiting a bit while this is triaged?

Stay safe.

[2020-06-01 21:37] Darth-Knoppix commented on #320
Not an inconvenience at all, just wanted to let you know so it’s known and can be fixed. 👍

[2020-06-01 23:56] #320 closed

[2020-06-04 07:56] julien-deramond opened #322 "Bad TaskModule import in intro-to-storybook/angular[en|pt]/screen"
In https://www.learnstorybook.com/intro-to-storybook/angular/en/screen/, we can see

[code]

There is a problem with the `TaskModule` import which should be

[code]

The same thing is happening here https://www.learnstorybook.com/intro-to-storybook/angular/pt/screen/.

**Proof:** The previous page in the tutorial already mentions this import (source: https://www.learnstorybook.com/intro-to-storybo

[2020-06-04 17:46] jonniebigodes commented on #322
@julien-deramond i'm going to check out on my end as i was the person behind the rework on said documentation. And if it checks out it might be that i might have forgotten to copy the correct code snippet and for that i'm trully sorry for the inconvenience that it caused and trully grateful that you spotted it. A pr will be up soon.

[2020-06-04 18:11] jonniebigodes commented on #322
@julien-deramond i've confirmed and you're right, in the repo that was used to back the documentation during the rework of said documentation the import is equal to the one you mentioned, but in the actual documentation it's still using the old imports that were in effect. As you can see [here](https://github.com/jonniebigodes/intro-storybook-5_3-angular/blob/master/src/app/app.module.ts#L20), onc

[2020-06-05 05:58] julien-deramond commented on #322
No problem, there was no inconvenience.
Thank you @jonniebigodes for the PR.

[2020-06-05 22:19] #322 closed

[2020-06-22 20:20] #174 closed

[2020-07-01 16:20] chameleonhead commented on #3
I'd like to translate react part into Japanese.

[2020-07-01 17:26] jonniebigodes commented on #3
@chameleonhead that's fantastic. Would like to see the documentation translated into Japanese. A couple of things:
- If you can put the translation in the form of a pr with all the chapters with would be better for reviewing and merging.
- Also this will neeed to be further proofread, we'll ask around in the community for someone to proofread it as me personally my knowledge of Japanese is quite a

[2020-07-08 22:06] mohaiminalaoun opened #345 "Documentation on how to use a custom pipe with Angular Storybook?"
I was wondering if there was any existing documentation on how to use a custom Pipe with Angular Storybook, I haven't found any yet and was getting errors with my `i18n` pipe.

Here's my Component:

[code]

[code]

This is the error I get in dev console when I open Inline help Content story in storybook

[code]

I'm not sure if there's a different way to do this?

[2020-07-09 02:54] #345 closed

[2020-07-14 06:47] SharkBaby commented on #3
I can translate Vue part to 🇨🇳 Simplified Chinese, can someone give us some guidance so that I can start my translation. thanks.

[2020-07-20 17:07] jonniebigodes opened #347 "Relative Linking"
This issue addresses how we could implement relative linking in the tutorials.

As of now, we'll need to add the full url for navigation from chapter to chapter. As Gatsby and Markdown out of the box won't allow relative linking between chapters and headings.

Adding such relative linking will default to the top of the page. This was tested with a development build with `gatsby develop` and a prod

[2020-07-21 02:02] tmeasday commented on #347
`gatsby-remark-autolink-headers` sounds like an excellent solution @jonniebigodes. Thanks for looking into this.

[2020-07-21 23:26] katepark1009 commented on #3
Hi! @tmeasday @domyen
Is there any progress/updates on Korean translation?
If not, can I start Korean translation? :)

[2020-07-22 14:52] domyen commented on #3
@katepark1009 That'd be amazing! ❤️  No updates on the translation progress from my end - you might want to check in with the contributor. FYI, we recently released a new React/English edition with the latest recommendations. So you may want to circle back on existing text to see that it matches up.

@SharkBaby Nice! At the top of this post there's a "How to get started", which gives you an overvi

[2020-07-23 03:43] katepark1009 commented on #3
@domyen Thank you! I don't see any diff between recent master branch and mine. I will continue working on it. (BTW, Love this tutorial👍)

[2020-07-29 12:19] valk opened #349 "Confusing and unusable Build UI components tutorial"
If you're following [Build UI components](https://www.learnstorybook.com/design-systems-for-developers/react/en/build/) you won't be able to see the results described within it since files are missing, for example `styles` css.

Also `styled-components` is missing.

[2020-07-29 13:21] jonniebigodes commented on #349
@valk thank you bringing this to our attention. This tutorial was recently reworked and probably it's going to be subject to another update probably soon. I'll take this to the authors attention and when the update comes we want to make sure that the issue you're experiencing is factored in.

If you don't mind waiting a bit longer while me and the remainder elements of the team work on it and we'l

[2020-07-30 21:38] jonniebigodes opened #350 "Translation updates"
This issue addresses the recent changes introduced to the Intro to Storybook tutorial. As of now the translations will need a bit of work.

I'll work on updating the portuguese translations shortly, so that they match the current versions.

Also i would like to ask:
- @IvanSotelo if you're able and have the time, can you take care of the spanish translations? This based on the fact that you've bee

[2020-07-31 05:45] Robin-Hoodie commented on #350
@jonniebigodes Depending on the size of the translations, I can do that. Do you have an esimate as to how much will have to be translated?

[2020-07-31 14:19] jonniebigodes commented on #350
@Robin-Hoodie thank you for checking in.

Regarding the translation, what needs to be done. So far you'll just need make some changes in the following sections:
- Deploy
- Testing
- Create a addon just needs a minor change.

It's not a big change.

If you take a look at those sections in the english version and compare them to yours you'll see the differences.

Stay safe

[2020-07-31 21:05] IvanSotelo commented on #350
@jonniebigodes Sure, I'll work on it this weekend.

Best

[2020-08-03 14:33] jonniebigodes commented on #350
@IvanSotelo thank you for taking a look aswell. Hope you're doing good :)

[2020-08-04 09:40] yNaxon opened #351 "Archived Task Checkbox Behaviour (React Intro to Storybook tutorial)"
When you get to the [Addons](https://www.learnstorybook.com/intro-to-storybook/react/en/using-addons/) chapter in the React Intro to Storybook tutorial, you add knobs to manipulate Task props.
As can be seen in the [demonstration video](https://www.learnstorybook.com/intro-to-storybook/addon-knobs-demo.mp4), the checkbox should be checked when the `state` prop value is set to `TASK_ARCHIVED`.

In

[2020-08-04 13:47] jonniebigodes commented on #351
@yNaxon thank you for bringing this to our attention.

I'm not the author of the documentation, but based on my experience with the tutorial and the implementation behind it, the author went with a simple approach, trying to keep the reader engaged on how add and use the addon.

The tutorial is going to take a bit of a rework in the near future, with that i'll take this issue to the team and see w

[2020-08-06 09:15] SeasonLeee opened #352 "By following the tutorial, what I got isn't the same as what tutorial present"
Here's what the tutorial presented us,
![image](https://user-images.githubusercontent.com/13610283/89513756-8f5f9c80-d807-11ea-8d89-d21d9605c62b.png)

but this is what I got after following along the tutorial and reach to the `yarn start`
![image](https://user-images.githubusercontent.com/13610283/89513560-4dcef180-d807-11ea-96fd-abd6ec08e5ee.png)

Am I missing anything?

I can see that in the RN

[2020-08-08 03:35] Draketheb4dass commented on #3
I can help translate to French for React.

[2020-08-12 13:28] Draketheb4dass commented on #3
Started french translation at https://github.com/Draketheb4dass/learnstorybook.com/tree/language-french/content/intro-to-storybook/react/fr

[2020-08-12 14:16] jonniebigodes commented on #3
@Draketheb4dass let me know when you have it all and the pull request is up so that we can proofread it and get it merged. Ping me when you have it. Sounds good?

[2020-08-12 14:18] Draketheb4dass commented on #3
Sounds awesome man.

[2020-08-15 19:48] domyen opened #358 "Update urls to use https://www.componentdriven.org/"
@jonniebigodes I tried to update the urls from the Component Driven blogpost to the new website. But for some reason Prettier or ESLint automatically formats the svelte code snippets which then breaks them.

Not sure what's going on with my editor. Do I need to use prettier-ignore on the svelte code snippets?  Mind taking a look at this for me?

My test PR here: https://github.com/chromaui/learnst

[2020-08-19 14:48] jonniebigodes commented on #358
@domyen the issue lies with prettier and how he tries to well.."prettify" the svelte snippets. It seems that if left as html snippets we'll encounters the issue you mentioned. I've changed them to svelte. As it's a extension that is not recognized we'll loose a coloring in markdown, but at least they will not be incorrectly formatted.

[2020-08-28 18:04] pavelkeyzik opened #371 "Cyrillic support"
Hey guys! What about support Cyrillic?

## The problem
At this moment we're using font `Nunito Sans` but the problem is that this font doesn't support Cyrillic and we're not able to add translation in Russian.

## Solution
I found that Google has another font called `Nunito` and it looks the same (attachment below). As you may see that font is pretty much the same as `Nunito Sans`. The only differ

[2020-08-28 18:17] jonniebigodes commented on #371
@pavelkeyzik let me check something and come back to you. At first glance it shouldn't  be a issue and we could probably use Nunito instead of Nunito Sans. I'll let you know once i get more on this.

Do you mind waiting a bit?

Stay safe

[2020-08-28 18:30] pavelkeyzik commented on #371
@jonniebigodes Sounds great 😊

[2020-08-28 19:52] domyen commented on #371
Thanks @pavelkeyzik, we haven't considered Cyrillic because no one has volunteered a Russian translation yet (maybe you?).

Nunito and Nunito Sans are different fonts. Nunito has rounded smooth characters while Nunito Sans doesn't. If we did end up with a Russian translation, we can explore swapping out the font for that specific translation to a different system font that supports Cyrillic.

[2020-08-28 19:58] pavelkeyzik commented on #371
@domyen Yeah, I realized that your project doesn't have Russian translation and thought that I can try to help with it in the future.

[2020-08-28 20:05] domyen commented on #371
Awesome Pavel, we'd love a Russian translation!

Once that's started, we'll figure out how to support Cyrillic (will need to
update the implementation).

On Fri, Aug 28, 2020 at 3:58 PM Pavel Keyzik <notifications@github.com>
wrote:

[2020-08-29 13:59] sosunnyproject commented on #3
Hello @domyen ! me and three other folks are working on Design System for Storybook (https://www.learnstorybook.com/design-systems-for-developers/) translation into Korean. our repo is here: https://github.com/engko-translation/learnstorybook.com Planning to send PR within a week or so :)

[2020-08-29 14:24] domyen commented on #3
@sosunnyproject that's an amazing contribution and very welcome. 🙏 @jonniebigodes is working on an updating the design systems guide (English edition) to 6.0 this week. That includes minor tweaks per the new Storybook APIs, we'll be sure to link you to that PR so you can update the Korean edition.

Again, much appreciated!

[2020-08-31 19:11] BraianMendes commented on #3
Hello! Regards from Brazil
I'm a React and React Native developer and I would be honored to help translate into Portuguese.
I can start helping with React Native, and even helping @jonniebigodes with the React LearnStorybook translation.

[2020-08-31 20:31] domyen commented on #3
Good timing Braian! A new edition of the React English guide was released
last week that reflects Storybook 6.0 (released a few weeks ago).

Would you be interested in updating the React Portuguese version to the
latest writing/code based on the React English guide? That would be super
helpful and very much appreciated. 🙇‍♂️

On Mon, Aug 31, 2020 at 3:11 PM Braian Mendes Corrêa <
notifications@git

[2020-08-31 21:24] jonniebigodes commented on #3
@BraianMendes i would be glad to "join forces" (pardon the bad pun) so that we can adjust the translation so that not only the European Portuguese and Brazilian Portuguese and also the other Portuguese spread around the world can benefit from it. And @domyen touched a rather important point. If you're willing and start with the React version, would be great, as it needs a bit of attention. And the

[2020-09-01 11:42] jdhines opened #375 "Svelte - default export mentions component, but not actually in the code"
This is pretty small, but I'm just getting in to Storybook for the first time, so didn't want to just do a PR in case I'm misunderstanding something (but I'd be happy to once I do!)

On the [Svelte Simple Component](https://www.learnstorybook.com/intro-to-storybook/svelte/en/simple-component/) page it says:

However, the code given doesn't have a `component`:

[code]

Should that "component" bulle

[2020-09-01 14:08] jonniebigodes commented on #375
@jdhines i was the author of the that version of the tutorial. And upon checking it, it seems that you're correct. The bullet item regarding the default export is actually introducing a misleading. As the component key is used in the story itself. I'm ok with a small pull request removing it the bullet. Or if you are interested we would greatly appreciate if you would be willing to update this ver

[2020-09-01 14:46] BraianMendes commented on #3
@domyen I am very interested. Thank you very much for the welcome, and I believe that I really arrived at a good time to really contribute. I am very excited, I am having the opportunity to study the Storybook and implement it in my work, so for me it will be a great experience.
@jonniebigodes Sounds really good to me. We can work in pairs, and thereby optimize the work well and not get stuck in a

[2020-09-02 00:01] ychinamale commented on #352
I ran into the same problem.
I started over and tried following [this manual React Native setup](https://github.com/storybookjs/react-native/blob/master/app/react-native/docs/manual-setup.md) and that did not work for the browser Storybook either.
I only managed to view my stories through the Android emulator.

[2020-09-03 00:00] jonniebigodes commented on #352
@ychinamale and @SeasonLeee i was the author of the said version of the tutorial. And regarding this issue, the real underlying problem here was that i was unable to capture the screen when running Storybook in an emulator, as it's documented. And went with the expo web development build so that i could capture the initial layout. I know that it might look a bit confusing but in this case my "hand

[2020-09-04 16:20] josetucuman commented on #3
I can help translate from English to Spanish

[2020-09-06 07:25] SeasonLeee commented on #352
Hey, @jonniebigodes , thanks for your detailed response but I have to leave the experiment of the method you mentioned to @ychinamale , since I have decided a while ago to transfer the APP development in our future project and the upcoming one into using Flutter, so, I might not be able to have extra time to do anything related to RN in the near future... I'm sorry for the inconvenience I might ca

[2020-09-07 14:13] jonniebigodes commented on #352
@SeasonLeee no worries, no inconvenience whatsoever. Hope if you come back to React Native and Storybook we'll have a better experience for you.

Stay safe

[2020-09-07 19:36] dannyhw commented on #352
This happens because at this point in the tutorial the storybookUI is not loaded or even imported. The storybookUI needs to be running so that it can send the stories list to the server.

I think actually just adding a comment to say that "at this point no stories will be loaded" or something would be enough to move the user on to the next step. In the next steps the storybookUI gets added into th

[2020-09-08 21:54] jonniebigodes commented on #349
Going to close the issue, with #380 the tutorial was updated to 6.0 and some other changes introduced. Take a look at it and re-open if this still persists.

Stay safe.

[2020-09-08 21:54] #349 closed

[2020-09-08 23:53] domyen commented on #352
Super helpful context @dannyhw, thank you 🙇

[2020-09-09 09:09] taechonkim commented on #3
Hey I want to translate to Korean for React with my co-worker (a.k.a eunkyeng)
I'm an essay writer (working as web frontend developer too)

[2020-09-09 12:41] domyen commented on #3
@taechonkim, we're fortunate to have Korean translations in progress.
- @katepark1009 is leading the translation for "Intro to Storybook"
- @sosunnyproject expressed interest in the "Design Systems for Developers" guide

Can you coordinate with one of them on helping out? 🙏

---

@sosunnyproject we merged the new edition of "Design Systems for Developers". The instructions are now stable. That mea

[2020-09-10 01:21] taechonkim commented on #3
@domyen Ok I like it! How can I help them? Just pick one of them(Intro to Storybook or Design Systems for Developers), and keep going from How to get started, is it enough? If not, should I contact them(katepart1009 or sosunnyproject)?

[2020-09-10 07:39] katepark1009 commented on #3
Hi @taechonkim
I've been working on `Intro to Storybook` React translations.
The work is done and it's in PR. (https://github.com/chromaui/learnstorybook.com/pull/348)
Currently I'm updating the translation with Storybook 6 and revising it.
It would be awesome if you can help me proofread it.😄

Stay safe!

[2020-09-11 12:22] asyraf-labs commented on #3
Hi @domyen , I can help translate from English to Malay/Indonesia language.... It would be great as I can learn while translating your awesome work @domyen 🔥

[2020-09-11 14:04] domyen commented on #3
Thanks Amirul, that would be super helpful for all the Malaysian and
Indonesian developers 🙏

On Fri, Sep 11, 2020 at 8:22 AM Amirul Asyraf <notifications@github.com>
wrote:

[2020-09-11 14:30] jonniebigodes commented on #3
@josetucuman like @domyen mentioned if you're interested in translating the design systems it would help us out immensely. But if you want to "start small" and learn more about Storybook, you could start with the React Intro to Storybook Spanish translation as that translation is a bit outdated and in need of some attention. With that when and if you are willing to translate the Design Systems for

[2020-09-14 17:08] chameleonhead commented on #3
Hi, I'm goint to help translating Design Systems for Developers into Japanese. I'll send PR when I have finished.

[2020-09-14 22:04] jonniebigodes commented on #351
Going to close this issue as with 6.0 the behavior is now not being displayed. Feel free to re-open the issue if you encounter the issue.

Stay safe

[2020-09-14 22:04] #351 closed

[2020-09-14 22:13] jonniebigodes commented on #177
@tmeasday it's now safe to assume that this as become outdated and can now be closed, correct.

Feel free to provide feedback

[2020-09-14 22:31] jonniebigodes commented on #176
@tmeasday are you ok with closing this? It seems a bit irrelevant now with the latest updates for the tutorial.

[2020-09-14 22:32] jonniebigodes commented on #165
@tmeasday safe to assume that this can be closed correct. As of 6.0 and the tutorial updates we're now not mentioning this and docs addon has become "mainstream" with Storybook

[2020-09-15 00:40] tmeasday commented on #177
I think so!

[2020-09-15 00:42] tmeasday commented on #176
Seems like we recently solved a similar issue with a newer version of babel in any case ;)

[2020-09-15 00:42] #176 closed

[2020-09-15 00:42] #165 closed

[2020-09-15 11:57] #177 closed

[2020-09-15 14:04] jonniebigodes commented on #202
@jgerlach thank you for bring this to our attention, i'm going to close the issue. With #380 the Design Systems for Developers tutorial was updated and your feedback was incorporated into it.

Stay safe

[2020-09-15 14:04] #202 closed

[2020-09-17 06:44] sosunnyproject commented on #3
@domyen thanks for the update! will merge the updated version of  "Design Systems for Developers" guide and will send PR soon! Currently in the process of proofreading the translated version with collaborators

[2020-09-21 10:27] kevinOriginal commented on #3
@sosunnyproject Hi, I've took a look at [your repo](https://github.com/engko-translation/learnstorybook.com)
I think you did a fantastic job. By looking at your PRs, I'm seeing some missing chapters and wondering if you need any help on any of them like chapter 2,6,8. If you need any help, I'll be able to hop in right away.

@domyen Hi, I've checked that you are still in WIP on ''Visual Testing Ha

[2020-09-21 17:01] jonniebigodes commented on #3
@kevinOriginal the Visual Testing Handbook is being worked on. We've been thinking about it and see how we could better present the information to you and the rest of the community. Once we get it in the documentation right, we'll let you know and we'll love for a Korean translation to be done.

Thank you very much for taking the time in checking in the repo for @sosunnyproject and the Visual Test

[2020-09-21 17:18] kevinOriginal commented on #3
@jonniebigodes Okay. Looking foward to it! Is there an estimate time of completion? Or maybe at least an open preview?

[2020-09-21 19:39] jonniebigodes opened #386 "Intro to Storybook code base updates"
With the release of Storybook 6.0 some changes were introduced. I've updating them to the best of my knowledge, but it could be that some mistakes might have been introduced, or some best practices for any framework, might have been overlooked. With that i would like to reach out and ask the community for some help with providing the most accurate code examples in the tutorial.

As of present stat

[2020-09-22 08:41] andre-brdoch commented on #386
Hey Jonnie,

I'd be happy to help out with the Vue snippets. However, there are still a few features like composite components that I did not yet get to work with vue, so any help there would be very much appreciated!

I could get started with the snippets / test repo in the next few days.

[2020-09-22 15:44] jonniebigodes commented on #386
@andre-brdoch thank you very much for the answer and the willingness to help with Vue. Let me know when you have a repo setup and i'll clone it and we can coordinate from there. You can ping me in the [Storybook Discord Server](https://discord.gg/UUt2PJb) (the same username).

[2020-09-23 15:11] jonniebigodes commented on #3
@kevinOriginal sorry for not giving you an accurate timetable for now. This is something that is being researched and consolidated. Once we have something more concrete we'll be sure to let you know and would love a translation.

Do you mind waiting a bit longer and continue to help out the Design Systems translation?

[2020-09-25 10:20] STPace commented on #3
@domyen Hi, I can help translate the intro-to-storybook/react to Simplified Chinese, this part has not been updated.

[2020-09-25 13:56] jonniebigodes commented on #3
@STPace we would love it. That translation is in dire need of some updates. If you can updated we would be extremely thankful for it.  Let me know when you have it so that we can ask in the community for someone to proofread it and then merged.

Stay safe

[2020-09-25 15:07] #225 closed

[2020-09-25 16:45] STPace commented on #3
@jonniebigodes Okay, I will submit pr in the near future

[2020-09-25 16:56] jonniebigodes commented on #3
@STPace looking forward for it :)

[2020-10-02 21:47] icruzr93 commented on #3
Hi guys some free time on my work right now, I would be very proud to contribute with updating or adding some Spanish translations where required, just let me know. (I have already read **The Intro For React** and the **Design System for Developers** course).

[2020-10-02 22:08] jonniebigodes commented on #3
@icruzr93 we would really appreciate it, as the React Spanish translation for Intro to Storybook is in dire need of some updates. We can start with that one. Let me know when you the pull request up and we'll go from there. Sounds good?

[2020-10-02 22:54] jeanphibaconnais commented on #92
Hi,
I would like to look and test Vuejs3 on a new project, so I could look this issue and change the vue part with typescript

[2020-10-02 23:15] icruzr93 commented on #3
@jonniebigodes sounds good, I'll catch you later with some translations

[2020-10-03 15:27] jonniebigodes commented on #92
@jeanphibaconnais thank you for interest on updating the tutorial for vue 3. There's still a bit of work to be done on how Storybook will function with Vue 3. But as soon as we have a stable version for it. We'll let you know and we would be glad to include it the tutorial.

[2020-10-05 00:56] usrrname commented on #386
I'd be happy to help with the Angular one. Spent the last 2 weeks worming through a lot of old and new versions to try and get my own demo working 😆

[2020-10-05 18:37] jonniebigodes opened #395 "Intro to Storybook - Create addons section"
With the release of Storybook 6.0 it seems that the way we're mentioning readers how they can create their own addons is currently not working as it should.
Steps to take:
- Create the file/folder structure (`.storybook/design-addons/register.js`).
- Add a reference to it in `.storybook/main.js` file turning it into:
[code]
- Create the file (`.storybook/design-addon/register.js`) with the followi

[2020-10-08 05:16] tmeasday commented on #395
@jonniebigodes what happens if you drop the `.js` in `main.js`?

In any case we should probably change this to have a preset file.

[2020-10-08 15:35] jonniebigodes commented on #395
@tmeasday if i change my `.storybook/main.js` per your comment:
[code]
The build is broken and i'm presented with the following message:
[code]

[2020-10-08 18:32] Romainpetit commented on #3
@jeanphibaconnais @jonniebigodes I'd be glad to help on a french translation of the Vue guide aswell.
Is anything started yet, that I can contribute to ?

[2020-10-08 18:36] jeanphibaconnais commented on #3
Hi @Romainpetit , for the first part, introduction, the traduction is ok.
I haven't start the second and third part

[2020-10-08 18:39] Romainpetit commented on #3
Well done. Do you have an open PR ?

[2020-10-08 18:45] jeanphibaconnais commented on #3
Not yet @Romainpetit , you can do it if you want. i have another project in progress that I prefer finish little things
If you want some help, don't hesitate to ping me

[2020-10-16 16:55] lala-lee-jobs commented on #3
I can do the Vue/Traditional Chinese translation if you want.

[2020-10-16 19:19] jonniebigodes commented on #3
@lala-lee-jobs that would fantastic, please do. We would more than welcome it. Ping me when you have the pull request is up.

[2020-10-17 00:31] lala-lee-jobs commented on #3
@jonniebigodes Okay, I will use Vue/English as the source in my translations.

[2020-10-17 00:45] jonniebigodes commented on #3
@lala-lee-jobs thank you for picking up on this and your willingness to translate the documentation. As the docs are a ever mutating organism if any changes drop in i'll let you know and you adjust accordingly and we get the most recent content out. Sounds good?

[2020-10-17 01:12] lala-lee-jobs commented on #3
@jonniebigodes OK, no problem!

[2020-10-26 08:52] nsclong opened #403 "CSS error given when index.css is used in tutorial"
There appears to be a problem with the CSS of the Learn Storybook tutorial.

Following the instructions exactly up to and including the Config section of https://www.learnstorybook.com/intro-to-storybook/react/en/simple-component/ gives the following error:

![image](https://user-images.githubusercontent.com/16524531/97152075-4d8c2580-1768-11eb-8085-61ad38122ea3.png)

I can fix this by commenting

[2020-10-27 19:14] jonniebigodes commented on #403
@nsclong sorry for the issue you are facing with the tutorial. I took a look and it seems it might be related to the recent update to `react-scripts` and `react` as part of the `create-react-app` package. As of now when you follow the instructions detailed in the tutorial, your `package.json` will look like this:

[code]
If you continue to follow the instructions provided up to the Simple componen

[2020-10-31 17:17] apontejosea commented on #403
Thanks for the temporary workaround @jonniebigodes.  Back in business.

[2020-11-02 05:50] spjtls9 commented on #395
Is there any updates for this? I'm following the doc to add a custom AddonPanel, but nothing is rendered next to `Controls` in the panel.

register.js
[code]

main.js
[code]

[2020-11-02 06:10] spjtls9 commented on #395
I restarted the build, and I see it is working as expected. Please ignore the above question!

[2020-11-04 19:24] JoSaGuDu commented on #3
Hi, I can help with Spanish translation for Angular tutorial

[2020-11-06 16:57] luisabellan commented on #3
Hello, there. I can help with Spanish translations.

[2020-11-07 15:16] jonniebigodes commented on #403
@apontejosea no need to thank. Glad that i was able to help you. Hopefully this will be fixed soon with 6.1. The maintainers are hard at work trying to release it soon. When it does you won't this workaround anymore. React 17 and CRA recent releases threw a "curve ball" (pardon the bad pun) and it broke some stuff in Storybook.

[2020-11-08 04:57] Turkyden commented on #3
Hi, I'm goint to help translating Design Systems for Developers into Chinese. I'll send PR when I have finished.

[2020-11-08 18:25] philipmjohnson commented on #403
This fixed it for me. However, there's a small typo in the instructions:

[code]

should be:

[code]

[2020-11-09 14:24] jonniebigodes commented on #403
@philipmjohnson this is just a minimal set of instructions to provide a workaround. This issue is short term lived and will be closed with the release of Storybook version 6.1. Glad that you managed to get it working.

Stay safe

[2020-11-09 15:01] domyen commented on #3
Thanks @JoSaGuDu @luisabellan!
For Spanish, the Design Systems for Developer tutorial is a good place to start. I believe we have Spanish translations for Intro to SB – @jonniebigodes would know more about how up to date they are for 6.0.

@Turkyden That sounds great!

[2020-11-09 16:09] itsojon opened #408 "Change references to `master` to `main` to reflect GitHub's new default branch name"
As described [here](https://github.com/github/renaming#new-repositories-use-main-as-default-branch-name), new GitHub repos now have a default branch named `main` instead of `master`.

- [x] Update English design systems guide (https://github.com/chromaui/learnstorybook.com/pull/402)
- [ ] Update Portuguese design systems guide
- [ ] Update code in https://github.com/chromaui/learnstorybook-design-

[2020-11-12 16:38] jonniebigodes commented on #3
@luisabellan really appreciate the interest in translating the tutorials to Spanish. As of now the Intro to Storybook Spanish translations are not updated for 6.0. If you want to start small and get more acquainted with Storybook, start with the Intro to Storybook tutorial, i'll leave the framework up to you. Then feel free to move to the Design Systems tutorial. As you'll see that the knowledge y

[2020-11-12 18:14] eddsaura commented on #403
@jonniebigodes thanks for the workaround!

[2020-11-14 02:02] jonniebigodes commented on #408
@itsojon thanks for the issue and the help on keeping track of the progress. Really appreciate it. One item that need some attention is the "Update code in https://github.com/chromaui/learnstorybook-design-system....". I'll ask the maintainers on how we should proceed on this and i'll get back to you. Sounds good?

Stay safe

[2020-11-17 02:32] luisabellan commented on #3
Hello, @jonniebigodes. I'm going to be very busy for the rest of the week but I'll definitely get started next week :+1:

[2020-11-17 14:07] jonniebigodes commented on #3
Hey! @luisabellan , no problem whatsoever. We're thankful for the help in translating the tutorials! Take your time and let me know when you have the pull request up.

[2020-11-17 18:54] jonniebigodes commented on #408
@itsojon i've just pushed a pull request to address the Intro to Storybook tutorial. All versions (minus the Vue/en) are updated accordingly to reflect the changes. I'm going to merge it shortly. So we can add another check mark in the issue. Sounds good?

[2020-11-17 20:08] itsojon commented on #408
@jonniebigodes sounds good! Thank you!

[2020-11-19 06:59] nicc777 commented on #403
I tried the `Learn Storybook tutorial` today and had to make another change to get going (still on the initial page).

The command `yarn test --watchAll` was failing with the following error:

[code]

I had to modify the following files to get it to work:

In `App.test.js` and `App.js` add the following line right at the top:

[code]
After that, everything was starting up what appears to be "norma

[2020-11-19 15:01] jonniebigodes commented on #403
@nicc777 React 17 and CRA were updated recently and that introduced some changes that were tracked and should now be fixed. Also Storybook just released 6.1 and it should take care of some of the issues that the tutorial has been suffering. I'm currently working on checking the tutorial and see what needs to be changed.

Stay safe.

[2020-11-19 17:28] ghost opened #415 "Eng-Ko translation needed in Get-Started page"
@sosunnyproject
Hi, first of all, I appreciate your work for eng-ko translation. It was so much helpful studying storybook.

While I was studying storybook in English, I realized Korean translation is provided.
Then, I found out this part below in "Get Started" page is missing Korean translation.
"With a recent update to React and CRA you'll need to downgrade react-scripts package to a previous ve

[2020-11-19 19:23] jonniebigodes commented on #415
@JimmyJoo this is an issue we're aware of. The Intro to Storybook tutorial is currently being updated to address some issues with React 17/ Create React App 4.0.0 recent release. Once the documentation is updated i'm going to ask the translators to adjust accordingly based on the updates introduced. Sorry for any inconvenience introduced.

Stay safe

[2020-11-29 10:28] sosunnyproject commented on #3
hi @kevinOriginal
excuse my late notification check. i just saw your ping on this thread. Me and my team's translation is already merged, but i'm sure you're more than welcome to create commits for improvement. We did peer reviews internally, but please go ahead and review the docs. if you have any question, feel free to reach me via email - will be more responsive there. Thank you!

[2020-12-12 13:14] developer239 opened #421 "Testing Connected Components"
Can we please remove this guide and jus write in few simple sentences that in reality we:

- can't test connected components
- we have to extract the UI and then test our extracted pure components

This tutorial is misleading and not helpful at all.

**edit:** When I thought about it it probably doesn't make sense to test connected components. Maybe we should clearly tell all users that the Storyb

[2020-12-12 20:19] Magicianred commented on #3
Ciao,
I am doing Italian language translate

https://github.com/Magicianred/learnstorybook.com/projects/1

[2020-12-12 20:45] jonniebigodes commented on #3
@Magicianred that is fantastic to hear. Really appreciate the work you're doing.Let me know once the pull request is up so that we can get a proofreader and get it merged.

[2020-12-12 21:22] developer239 commented on #421
@jonniebigodes I will post what I have by the end of the weekend. Maybe it will help. 🙌

[2020-12-12 21:33] jonniebigodes commented on #421
@developer239 sure. Looking forward for it. Help is always welcome.

[2020-12-20 10:17] Magicianred opened #426 "Problem with tutoria Intro to Storybook for React"
I am follow the tutorial
https://www.learnstorybook.com/intro-to-storybook/react/en/get-started/

and I had to fix more things in order to have all the 3 frontend running (in addition to the fixes already present on tutorial)

1. I have to install babel-loader in version 8.1.0
2. I have to add import React in the files:
  - taskbox/src/App.js
  - taskbox/src/App.test.js

thanks

[2020-12-20 16:07] jonniebigodes commented on #426
@Magicianred this is known issue that the Storybook maintainers and the community have been working on. With the release of CRA 4 and React 17 some problems were introduced. Most of them are solved as of this point. But the babel clash between the one used by CRA and the one used by Storybook is still being worked on. From the tutorial's point of view code and content wise you should only need to

[2020-12-23 23:02] jonniebigodes commented on #426
@Magicianred going to close this as i've just merged an update for the tutorial that addresses this situation with a workaround to get you unblocked while following the tutorial.

Stay safe

[2020-12-23 23:02] #426 closed

[2020-12-23 23:03] jonniebigodes commented on #403
Going to close this issue as with the recent merge of #427 the way styling is handled is now fixed.

Stay safe all

[2020-12-23 23:03] #403 closed

[2020-12-23 23:04] jonniebigodes commented on #275
Closing this as the feature is already in place.

[2020-12-23 23:04] #275 closed

[2020-12-23 23:06] jonniebigodes commented on #371
@pavelkeyzik just a friendly reminder. Are you able to work on a Russian translation? We'd love to get one featured in the documentation. Let us know so that we can adjust accordingly.

Stay safe

[2020-12-23 23:11] jonniebigodes commented on #415
@JimmyJoo i've merged an update to the tutorial that addresses that issue. If you're ok, we'd love an update to the Korean translation based on the recent changes. Let me know when you have a pull request up and we'll go from there. Sounds good?

Stay safe

[2020-12-24 06:27] pavelkeyzik commented on #371
@jonathanherdt Sorry, but at the moment I don't have enough time to work on this issue 😢

[2020-12-24 13:20] jonniebigodes commented on #371
@pavelkeyzik no worries, i'll leave it open for the time being. Let me know once you got something and we'll go from there.

Stay safe

[2021-01-02 14:15] krishnatandon1208 commented on #3
Hi all,
I am willing to contribute to the language "Storybook in Hindi", one of the most popular languages in our country and widely spoken.

[2021-01-02 15:14] jonniebigodes commented on #3
@krishnatandon1208 that is awesome, we'd love to see a Hindi translation done. Let me know if you run into any issues and when you have the pull request with the full translation up.

Stay safe

[2021-01-05 22:34] jonniebigodes commented on #284
Closing this as the issue is no longer present.

[2021-01-05 22:34] #284 closed

[2021-01-05 22:36] jonniebigodes commented on #395
Closing this as the issue is solved and the tutorial is updated in most active versions

[2021-01-05 22:36] #395 closed

[2021-01-06 15:49] jonniebigodes opened #431 "Intro to Storybook templates"
Looking at the present state of the Intro to Storybook in its various forms (frameworks), there's a lot of work that the reader needs to do in order to get a minimal viable project setup with Storybook and its framework of choice. As the tutorial is an introductory one the reader should be able to get onboarded with a minimum effort on his part. What i'm thinking here is the following:
- Create a

[2021-01-06 16:48] gossi commented on #431
Can say for ember, when you do `ember install @storybook/ember-cli-storybook` this will run the `sb init`. Not the real one, ember-cli has the concept of blueprints instead, which mimics what `sb init` is doing here. It creates the config and hooks into ember (or should do it). I think it would even be better if it would execute `sb init` (less mainteneance for sure, higher consistency)

This is w

[2021-01-06 21:03] dannyhw commented on #431
Speaking from my experience with the react native project the part which benefits most from having a template is the setup of things like CSS, fonts, icons etc which depending on the framework can be kind of complicated. In the react native example the first section is/was a series of copy and paste for setting up things that aren't directly related to the content of the tutorial such as setting u

[2021-01-07 11:42] jeanphibaconnais commented on #3
Hi  @Romainpetit , do you start something ? i didn't see some issue ou pull request. I can create one issue, i think i can start translation of migration storybook 6.0 in January.

[2021-01-07 14:55] jonniebigodes commented on #3
@jeanphibaconnais no pull request was added by @Romainpetit so far. If you both are ok with a middle ground regarding the translation, @jeanphibaconnais if you're able to update the translation you've done to version Storybook 6.0 it would be an awesome improvement as you were the primary on that and @Romainpetit if you're able to proofread it then it would fantastic and we'd get it merged even so

[2021-01-07 16:19] jeanphibaconnais commented on #3
It's ok for me. I've just created a draft PR : https://github.com/chromaui/learnstorybook.com/pull/434

[2021-01-07 16:55] jonniebigodes commented on #431
The way i'm thinking on putting this into effect is basically a 2 step approach. I want to start small and create the repo templates for the various frameworks so that when the reader lands on the get started section for it's framework of choice he/she would only need to run something like:

[code]

And he or she would be good to go and move onto the next section. I'm well aware of the cost associ

[2021-01-07 17:01] jonniebigodes commented on #3
I just got the notification for the pull request 😀  ! And i'm good with it. Let me know when you've updated it to 6.x and we'll move from there. @Romainpetit as @jeanphibaconnais has started the translation, if you don't mind we'd love for your help as a proofreader. If you both want to coordinate your efforts better don't forget that we have a [discord server](https://discord.gg/UUt2PJb) and if y

[2021-01-07 18:58] Romainpetit commented on #3
@jeanphibaconnais Well done ! I didn't publish anything so it's perfect you started it. I can proofread it as @jonniebigodes suggests 👌

[2021-01-07 19:12] jonniebigodes commented on #3
That's great. I'll keep an eye on the progress, but as i'm spread around multiple sources of documentation i'll leave to both of you to coordinate your efforts and let me know once it's good to go and we'll get it merged.

[2021-01-07 20:14] jonniebigodes commented on #375
Closing this issue as wit the merge of #432 this is now solved

[2021-01-07 20:14] #375 closed

[2021-01-08 17:02] krishnatandon1208 commented on #3
I am facing an issue with pull request. Unable to compare with the existing branch. Is a new branch is to be created ?

[2021-01-08 18:30] jonniebigodes commented on #3
@krishnatandon1208 did you fork the LearnStorybook repo? It could be related to it. Try the following:
- Fork the LearnStorybook repository.
- Create a branch on your fork with the translation.
- Update the documentation
- Make the pull request

Let me know if you have any issues and we'll go through them.

Stay safe

[2021-01-15 06:34] jeanphibaconnais commented on #3
Hi @Romainpetit , if you have some time, i've created this PR https://github.com/chromaui/learnstorybook.com/pull/434

[2021-01-23 12:56] nagashimam commented on #3
Hello, I’d like to help with Japanese translation for Angular tutorial.

[2021-01-23 14:55] jonniebigodes commented on #3
@nagashimam sure. We'd love to get a Japanese translation for Angular. Let us know when you have the pull request up and we'll get a proofreader from the community to help us with the process and get it merged.

[2021-01-24 03:27] nagashimam commented on #3
Hi @domyen, let me clarify one thing.

Your explanation at the top of this page says

This means translation of Angular tutorial to Japanese (or any other language) should be based on React/English version except things that are specific to Angular (such as Storybook installation), right?

[2021-01-24 14:49] jonniebigodes commented on #3
Hi there @nagashimam, regarding your comment above, yes the React version is the source of truth and each other version of the tutorial is based off that one and adjusted accordingly, such as  you mentioned, the Storybook installation and how components/stories are implemented for the framework and how you handle data.

Also wanted to give you a bit of a heads up that the Angular version is going

[2021-01-24 18:29] nagashimam commented on #3
@jonniebigodes
Thank you so much, sounds great! I can't wait to read the new version.

[2021-01-25 02:49] icaru88 commented on #352
For those who are here to look for solution why the left pane is empty or not showing as per documentation/tutorial.
run the command below to connect your device/emulator to the port 7007.
`adb reverse tcp:7007 tcp:7007`

[2021-01-25 12:04] dannyhw commented on #352
Anyone looking for a solution should instead look at the issue on the react-native storybook issue here: https://github.com/storybookjs/react-native/issues/55

There are many solutions suggested in this issue and you should be able to resolve it with one of these.

[2021-01-30 00:42] jonniebigodes commented on #431
Pull request #435 is fast tracking this. For now the following frameworks are covered:
- Angular
- React
- Vue
- Svelte

Ember is suffering of some weird core.js error preventing the build from going through. Something broke and i've raised an issue in the Storybook repo. @gossi if you could take a look i would appreciate it. On that note @dannyhw sometime in the near future i want to coordinate w

[2021-01-30 10:25] gossi commented on #431
Could you link the issue from storybook so I can find it and can have a look?

[2021-01-30 14:25] jonniebigodes commented on #431
@gossi [here](https://github.com/storybookjs/storybook/issues/13761) is the issue. Thanks in advance for looking into it

[2021-02-01 16:49] dannyhw commented on #431
@jonniebigodes yeah im happy to coordinate with you and we can take another look at the react native stuff :).

[2021-02-10 10:33] TamaraPK opened #439 "Missing instruction to enter real Chromatic token in yml file"
Location: [here](https://www.learnstorybook.com/design-systems-for-developers/react/en/review/)

The page forgets to mention that in the yaml file one needs to replace project token with the actual token from Chromatic. It only states the below:
"Create a file called chromatic.yml like the one below. This will allow us to script how our CI process behaves. We'll start small for now and continue to

[2021-02-10 10:38] TamaraPK opened #440 "Babel pipeline config did not work as instructed in tutorial "Design Systems for Developers""
Location: [here](https://www.learnstorybook.com/design-systems-for-developers/react/en/distribute/)

I had to run the following:

`yarn add --dev @babel/cli cross-env

In project root add file ".babelrc" with the content below:

`{ "presets": [[ "react-app", { "absoluteRuntime": false } ]] }`

Otherwise the given tutorial instructions on the page gave an error:
absoluteRuntime option not found

[2021-02-17 14:43] TamaraPK opened #444 "Some Tutorial Instructions Not working (Package Scoping and some other): Distribute"
Location: https://www.learnstorybook.com/design-systems-for-developers/react/en/distribute/

Publishing the project to npm will not work (as others have published the same project e.g. while doing this tutorial)

One has to use scoping:
https://docs.npmjs.com/about-scopes
https://docs.npmjs.com/creating-and-publishing-scoped-public-packages

Package Meta Data:
Had to change "yarn init" to
yarn ini

[2021-02-18 12:04] TamaraPK opened #445 "design-systems-for-developer: workflow: AvatarList.stories.js Errors"
Location: https://www.learnstorybook.com/design-systems-for-developers/react/en/workflow/

Got errors about undefined variables and the AvatarList was not showing.

The code  below worked for me:
- Modified export default part (especially this: component: AvatarList).
- Fixed variable names (first letter was sometimes lower case and others uppercase) e.g. short and Short, empty and Empty, BigUserC

[2021-02-18 12:26] TamaraPK opened #446 "design-systems-for-developer: workflow: Little Typo"
Location: https://www.learnstorybook.com/design-systems-for-developers/react/en/workflow/

The comment at the top of the code snippets below should probably be:
// src/AvatarList.js
NOT
// src/AvatarList.stories.js

And yes documentation is much more fun this way (comments in code pulled into doc UI). Great stuff! :) thanks!

[code]

[code]

[2021-02-21 15:30] domyen opened #447 "Disjointed reference"
Intro to SB bug reported by reader:

In chapter 2 we reference CSS from chapter 1:
![image](https://user-images.githubusercontent.com/263385/108629805-a5454f80-742f-11eb-9887-25e4f88cf980.png)

But we no longer need this because the entire repo is cloneable with degit (css included)

[2021-02-26 17:07] micksp commented on #3
I can do vue translation in Dutch

[2021-02-26 20:10] jonniebigodes commented on #3
@micksp that sounds awesome. We'd love a Dutch translation for the tutorials. Let me know when it's up or if you have any questions and we'll go from there.

[2021-02-26 22:35] domyen opened #454 "Header is missing from Not found page"
On [this 404 page](https://storybook.js.org/tutorials/design-systems-for-developers/sfeaf) the header is missing for some reason. Ideally, we'd have the same 404 page as the /frontpage. [Example here »](https://storybook.js.org/djkfa;je)

Since the tech stacks between the sites are so similar, you could probably copy paste [this component](https://www.chromatic.com/component?appId=5be26744d2f62500

[2021-03-01 19:40] TamaraPK commented on #440
Update: I have corrected the above as my previous settings resulted in absolute oath errors. The instructions in the tutorial still did not work but adding the .babelrc file as shown above works :)

[2021-03-01 19:50] #454 closed

[2021-03-02 20:04] jonniebigodes commented on #447
Closing this as it's already addressed

[2021-03-02 20:04] #447 closed

[2021-03-03 12:02] ghost opened #458 "Portuguese translation"
Hello !!!!
Is this project dedicated to the translation of the storybook help? If so, how could I help? I'm learning SB and I think I could speed up learning by helping with translation.

Thanks!!!!

[2021-03-03 21:24] jonniebigodes commented on #458
Hi @Wanderson77 . I'm answering you in english and based on that i would like for you to edit the issue and put it in english if you don't mind. I understand your question, but other contributors/maintainers are bound to be non portuguese speaker/writers and we want to avoid any confusion.

This repository contains the existing and future tutorials for the Storybook ecosystem. We're thrilled to se

[2021-03-05 08:27] micksp commented on #3
I'm halfway through. During the translation process I am creating a list of words that I think should not be translated from English, because they are very common among developers and would feel artificial if translated. There's also translation decisions on my list. I think there should be a list per language so these decisions stay the same for all pages in a given language, no matter who transl

[2021-03-18 15:35] jonniebigodes commented on #446
@TamaraPK thank you for bringing this to our attention. It's now fixed with #461.  Closing this now.

[2021-03-18 15:35] #446 closed

[2021-03-18 15:36] jonniebigodes commented on #445
@TamaraPK going to close this issue now. With #461 snippet was updated to include the missing "component" element in the default export.

[2021-03-18 15:36] #445 closed

[2021-03-18 15:42] jonniebigodes commented on #444
@TamaraPK Closing this now and once again thank you for bringing this to our attention. The tutorial is now documenting how to use scoped packages to avoid issues with publishing.

Regarding this:

Had to use the yarn version of "npm publish" with public access (otherwise I would get errors):
yarn publish --access=public

That is indeed a consideration that you have to factor in when publishing Sc

[2021-03-18 15:42] #444 closed

[2021-03-18 15:46] jonniebigodes commented on #440
@TamaraPK going to close this now as the tutorial was updated to reflect the issues you've encountered.

Regarding this particular issue, I wasn't able to replicate it. I ran the tutorial and code from end to end and that particular issue didn't pop in. This could be related to a node version difference or some other configuration you have setup on your end. Let us know if the issue still persists

[2021-03-18 15:46] #440 closed

[2021-03-18 15:48] jonniebigodes commented on #439
@TamaraPK Closing the issue now as the tutorial was updated in #461 with adjustments to the documentation in that particular section. Thank you for bringing this to our attention. Let us know if you run into any other issues with the tutorials.

Stay safe

[2021-03-18 15:48] #439 closed

[2021-03-19 09:25] TamaraPK commented on #439
Thank you! Have a great weekend!

[2021-03-19 14:50] jonniebigodes commented on #439
No need to thank, I'm the one that should be thanking you for bringing this to our attention. Have a great weekend as well.

Stay safe

[2021-03-22 20:31] jonniebigodes commented on #347
Closing this as this issue is now fixed across the board (pardon the bad pun)

[2021-03-23 12:07] nagashimam commented on #3
@jonniebigodes @chameleonhead
What do you think about @micksp 's idea? I also had several words and phrases I wasn't quit sure if I should translate into Japanese or not. I just followed React/ja translation by chameleonhead, but it's nice to have such list to make sure we're consistent.

(and just so you know, I think I can get draft of Angular/ja translation ready this week. Translation is done

[2021-03-27 10:43] micksp commented on #3
I also notice a cultural difference that I'm trying to incorporate. The American (I guess) style using lot's of "fantastic" "great" and "let's do this" - this is not the way European people talk. So I find I am downsizing the superlative tone to make it more compatibel with the way Dutch people talk, instead of literally translating the words.

[2021-04-02 07:49] eihabkhan commented on #3
Hey @domyen 👋
I would love to help with an Arabic translation for React

[2021-04-06 12:50] Luk-kar commented on #352
Also, I want to acknowledge that in the case of **Storybook for React Native tutorial** starting app `expo init --template tabs taskbox` differs quite dramatically from what it is in the tutorial.  That means the following imports in base projects do not exist. BottomTabNavigator.tsx example:
[code]
![components like these](https://user-images.githubusercontent.com/59205324/113712848-ea26fc00-96e6

[2021-04-06 18:55] dannyhw commented on #352
@Luk-kar yes the expo template changed some time ago and the tutorial has been outdated for a little while. Ideally it would be updated, honestly there are a lot of improvements I would like to make to the tutorial but currently its just been hard to make it a priority over things like working on 6.0.

I did make a comment over here about how you might adapt the current template maybe its helpful:

[2021-04-06 20:17] jonniebigodes commented on #352
@Luk-kar as @dannyhw mentioned the said template is ahead of the code/content mentioned in the tutorial. I've reached out to @dannyhw on how we could best approach this and use the same "tactic" as mentioned in the other versions of the tutorial. He's ok with it, and I plan on getting in touch with him in the near future, and see how to best address this and the current state of Storybook for Reac

[2021-04-08 13:45] domyen commented on #3
@eihabkhan Awesome, that's going to be really helpful for our Arabic readers! 🙇‍♂️

[2021-04-10 07:14] chameleonhead commented on #3
@nagashimam Sorry for slow response. I agree to match words in translation. If you make English-Japanese corpus, I'll adjust translation with that.

@domyen @jonniebigodes Where can we put per-laguage corpus or guidelines? Or just create issue?

[2021-04-14 20:36] ORIGINALUSRNM opened #476 "Snapshot Testing fails in Intro to Storybook for Angular in 'Simple Component' Step."
When following the [Intro To Storybook tutorial for Angular,](https://storybook.js.org/tutorials/intro-to-storybook/angular/en/simple-component/) the Snapshot Testing step fails when running `npm run test` with the error: 'Cannot find module '@storybook/angular/renderer' from 'node_modules/@storybook/addon-storyshots/dist/ts3.9/frameworks/angular/renderTree.js'.   See console error below

Platform

[2021-04-14 20:43] ORIGINALUSRNM commented on #476
Also fails with same error with Node v14.16.1 and NPM 6.14.12

[2021-04-15 10:39] Zangetsu89 opened #477 "Error with CLI token"
By adding the below section:

# Workflow name
name: 'Chromatic Deployment'

# Event for the workflow
on: push

# List of jobs
jobs:
  test:
    # Operating System
    runs-on: ubuntu-latest
    # Job steps
    steps:
      - uses: actions/checkout@v1
      - run: yarn
        #👇 Adds Chromatic as a step in the workflow
      - uses: chromaui/action@v1
        # Options required for Chromatic's Git

[2021-04-22 10:50] lucapu88 opened #480 "Syntax error in the documentation"
![Schermata da 2021-04-22 10-37-30](https://user-images.githubusercontent.com/56302007/115702525-57829000-a369-11eb-9050-077b45b43bdc.png)

In your documentation there is an extra brace that gives an error in compilation, and for an inexperienced user, doing a copy and paste, could create problems......

[2021-04-23 21:52] jonniebigodes commented on #480
@lucapu88 thanks for bringing this to our attention. I'm currently updating the tutorial for 6.2 and this issue is already covered. A pull request will be up early next week to address this.

Stay safe

[2021-04-23 21:56] jonniebigodes commented on #477
@Zangetsu89 I'm currently working on some updates for the documentation and I've factored in your issue and with that polished the tutorial a bit to present a clearer idea of what you should do so that you or any other reader can basically copy and paste the code on your local environment and push it to a GH repo and get the Action working as it's meant.

Stay safe

[2021-04-27 18:42] jonniebigodes commented on #476
@ORIGINALUSRNM thank you for bringing this to our attention. I've been working on some updates for that particular version of the tutorial and with that, I factored in your issue. Upon checking it seems that it might be related to a mismatch of versions. I'm currently reviewing #482 for any missing information related to the tutorial. Also, the template for the tutorial is currently being updated

[2021-04-27 19:17] jonniebigodes commented on #480
@lucapu88 the pull request that I've mentioned in my earlier comment. If you don't mind I'm going to close this issue as the problem is fixed with the mentioned pull request.

Please feel free to open a new issue if you encounter a problem with the tutorials.

Stay safe

[2021-04-27 19:17] #480 closed

[2021-04-27 19:18] jonniebigodes commented on #477
@Zangetsu89 the documentation was updated to factor in your issue and provide a bit of clarity regarding GitHub secrets.

Thank you for opening up this issue. if You don't mind I'm going to close it as the pull request is going to be merged soon.

Feel free to open a new issue if you run into any problems with the tutorials.

Stay safe

[2021-04-27 19:18] #477 closed

[2021-04-28 01:31] etsiaDigital opened #484 "Provide a better path to the framework specific tutorials (other than react)"
The "Get Started" button on this page: https://storybook.js.org/tutorials/intro-to-storybook/ is hard coded to "react".
There should be some way to choose your desired framework so that when you "Get Started", you end up at the proper tutorial. Currently you might think that React is the chosen one for "the tutorial"....  (wouldn't be the first time)

A drop down from the button or select beside t

[2021-05-03 08:02] nagashimam opened #487 "Angular version of "simple component" chapter doesn't refer to argTypes."
It's more of question than issue but the explanation of default export in [Angular version](https://github.com/chromaui/learnstorybook.com/blob/master/content/intro-to-storybook/angular/en/simple-component.md#get-setup) doesn't refer to argTypes while [React version](https://github.com/chromaui/learnstorybook.com/blob/master/content/intro-to-storybook/react/en/simple-component.md#get-setup) does("

[2021-05-03 15:17] jonniebigodes commented on #487
@nagashimam first and foremost sorry for the confusion. The general rule of thumb for that portion of the documentation is:
- If the Task component's story has `argTypes` defined, (e.g., Vue, Svelte) then it's documented.
- Otherwise such as Angular and React, it doesn't it shouldn't.

In your case for Angular has the Task story has no `argTypes` defined. Then no need to mention them. Looking at m

[2021-05-04 15:09] jonniebigodes commented on #487
@nagashimam thank you for the heads up and help to clarify the tutorial. As I've mentioned before a pull request is up to address the issue. And I saw that you already updated it in your translation 🙂

Stay safe

[2021-05-04 15:09] #487 closed

[2021-05-08 14:14] elfiservice commented on #458
Hi @jonniebigodes  I did some updates into the Intro Storybook React section in PT
- Here the [PR](https://github.com/chromaui/learnstorybook.com/pull/490)
- Let me know if I am following the correct process
Tks 🙏🏽

[2021-05-08 14:40] delfilb commented on #3
Hi @icarlossz  @luchux! I would like to contribute with the Spanish translation.

[2021-05-08 15:12] jonniebigodes commented on #3
@delfilb that's great to hear. We'd love to get the current Spanish translations updated and new ones added. f you're new to Storybook and want to start small. We just released a small handbook called [Visual Testing Handbook ](https://storybook.js.org/tutorials/visual-testing-handbook/) and we'd love a Spanish translation.

Let me know and we'll go from there.

[2021-05-08 15:36] jonniebigodes commented on #458
@elfiservice I saw the pull request and left a comment there. Let me know if you're ok with what I said and you're willing to adjust the pull request accordingly and we'll go from there.

Stay safe

[2021-05-08 18:32] K-Schaeffer commented on #3
Hello, I'd like to contribute with the Portuguese (BR) translation, I already started translating the Vistual Testing Handbook, but didn't open a PR or issue yet.

[2021-05-09 14:52] delfilb commented on #3
Hi @jonniebigodes. That sounds great! I'm new to Storybook, this will be my first contribution so any advice is welcome. If it's ok I will start with the translation of the Virtual Testing Handbook right away.

[2021-05-10 03:34] 1aishwaryasharma commented on #484
Even though the default selection is React we can select the framework from the side nav controls.
![Screen Shot 2021-05-09 at 11 32 11 PM](https://user-images.githubusercontent.com/4868615/117602587-0d4a2e80-b11f-11eb-98d5-b034842262c5.png)

[2021-05-10 10:29] etsiaDigital commented on #484
Here is the tutorial landing page.  ??  no nav.  There IS a BIG  Get started button.  That takes you to React.

![storybook_tutorial_page](https://user-images.githubusercontent.com/56901847/117645854-ae9da880-b150-11eb-9f23-b467be97dca6.jpg)

[2021-05-11 12:08] elfiservice commented on #458
Hi @jonniebigodes , I saw your comment on the PR
- greate, I will keep work on it
- I will adjust the PR and go on
Thank you 🙏🏽

[2021-05-17 17:27] davidshq opened #494 "Intro to Storybook Vue Tutorial Broken"
Hi All,

I attempted to follow the instructions for the Vue Tutorial:
https://storybook.js.org/tutorials/intro-to-storybook/vue/en/get-started/

I ran into a number of errors when attempting to run `yarn storybook` which appear to be related to `vue-template-compiler` and `vue-loader`.

I was able to get Storybook to load by using @F0rsaken's instructions in https://github.com/storybookjs/storyboo

[2021-05-17 20:03] jonniebigodes commented on #494
@davidshq thanks for bringing this to our attention. I briefly encountered this issue when updating the documentation (tutorial) to Vue 3. What solved it for me was to clean out my yarn cache and pull in the template and go through the tutorial. I'll check it out once again to see if the issue persists. If that's the case, then I'll adjust the template accordingly and I'll let you know and we'll g

[2021-05-17 20:54] jonniebigodes commented on #3
@delfilb sure, please do we'll love a translation for the tutorial. Let me know if you run into any issues and we'll go from there.

@K-Schaeffer we'd love a translation as well. One thing regarding this particular item. If you're ok instead of making a pt-br /pt-pt translation we can probably create a unified translation for all native Portuguese speakers/writers? The rationale behind this is tha

[2021-05-18 01:41] K-Schaeffer commented on #3
@jonniebigodes That's not a problem at all, we can surely do it, and I'm really looking forward to help with it :)

[2021-05-20 15:49] BergFulton commented on #494
Having this same exact problem, except in an act of YOLO, I did `npm i` which fixed it and let me restart Storybook during the Composite Components section.

[2021-06-04 11:02] norcino opened #498 "Angular version of Intro to Storybook error on "npm install -D @storybook/addon-storyshots""
I followed all steps from [here](https://storybook.js.org/tutorials/intro-to-storybook/angular/en/simple-component/).

When I get to [Snapshot testing](https://storybook.js.org/tutorials/intro-to-storybook/angular/en/simple-component/) and I try to run "npm install -D @storybook/addon-storyshots", I get the following.

I tried to look for a solution myself but with no success, I think that there i

[2021-06-04 13:53] jonniebigodes commented on #498
@norcino that's a bit strange. But thank you for bringing this to our attention. I'm going to take a look at the issue and see what might be wrong and I'll let you know.

Stay safe

[2021-06-04 16:48] jonniebigodes commented on #498
@norcino I took a look at your issue followed up the tutorial up to that section. And it checks out.

Here's what I did:
- Cloned the repo from the get started section.
- Followed the Simple component to setup the component/stories.
- Installed the addon and set it up.
- Ran `npm run test` and it yielded the following result:
<img width="1424" alt="snapshot-addon-result" src="https://user-images.g

[2021-06-04 16:49] jonniebigodes commented on #484
Closing this down, believe that 1aishwaryasharma pretty much answered the question.

Stay safe both of you

[2021-06-04 16:49] #484 closed

[2021-06-04 17:55] MariuszDabrowski commented on #494
I ran into this same issue today, for anyone that stumbles across this, this is the error you get:

<img width="1072" alt="Screen Shot 2021-06-04 at 1 52 08 PM" src="https://user-images.githubusercontent.com/4285139/120843702-6b124080-c53c-11eb-9f0b-46f04a73de6c.png">

Which can be fixed by installing `Vue Loader` by running `yarn add vue-loader@next --dev`

[2021-06-05 13:17] #498 closed

[2021-06-05 13:18] norcino commented on #498
Thank you @jonniebigodes I can confirm, in another environment I could follow the steps without any problem, I don't know what is going on the other machine.

[2021-06-11 19:40] MichaelArestad opened #505 "Instructions to add code, but code is already in the template"
On the Document, Distribute, and Workflow chapters, there were a handful of instructions to add documentation or some code as I was following along. What I found was that the documentation or code was already in my clone of the repository. I followed the instructions in the [Architecture](https://storybook.js.org/tutorials/design-systems-for-developers/react/en/architecture/) chapter to clone the

[2021-06-11 19:52] MichaelArestad opened #507 "Missing babel key in package.json"
I stumbled a bit in adding a babel key following these instructions:

I ended up having to do a bit of searching to work out adding a babel key to `[package.json](https://github.com/chromaui/learnstorybook-design-system-template/blob/master/package.json)`.

It might be good to either clarify the language when to add the babel key or to add the key to `[package.json](https://github.com/chromaui/lea

[2021-06-11 20:56] jonniebigodes commented on #507
@MichaelArestad feel free to push it to a pr in the template. I'll check it out and if it doesn't break anything I'll merge it. Leaves one less concern to the readers. WDYT?

Let me know once the pull request is up.

[2021-06-11 21:00] MichaelArestad commented on #507
@jonniebigodes I'll have to crack open my personal computer to check out what I did. I'm also _far_ from an expert in composing `package.json`. I likely won't get to this until my next empathy day, though.

[2021-06-11 21:26] jonniebigodes commented on #505
@MichaelArestad going about it in order:
- Document
   I've checked the chapter against the template and it's an oversight. The JSDocs comments should not be there. If you're ok with opening up a pr I'll gladly look at it and merge it.
- Distribute
   I'll test it and if it doesn't break anything we can probably drop it.
- Workflow
   This comes from [this](https://github.com/chromaui/learnstorybo

[2021-06-15 21:06] #507 closed

[2021-06-17 14:35] #505 closed

[2021-06-17 16:57] MichaelArestad commented on #505
🥳

[2021-06-24 20:15] jonniebigodes commented on #494
@MariuszDabrowski and @davidshq going to close this down as the issue has resolved itself with Storybook 6.3. I've just finished a rundown on the tutorial with the updated version and no longer the issue presented itself. Can you check on your end and report back if the issue still presents itself and I'll gladly re-open this issue and triage it.

Stay safe both of you

[2021-06-24 20:15] #494 closed

[2021-06-24 20:59] jonniebigodes commented on #476
@ORIGINALUSRNM going to close this. I've run this with the current version Storybook version featured in the tutorial and now with the release of 6.3 and wasn't able to reproduce the issue. If interested I'll gladly push my updated version of the tutorial to a repository and you can take a look at it.

Stay safe

[2021-06-24 20:59] #476 closed

[2021-06-25 23:20] jonniebigodes commented on #162
Closing this down as the issue is no longer present.

[2021-06-25 23:20] #162 closed

[2021-07-05 05:28] argarner commented on #386
I just completed the Angular tutorial, which I believe was updated to use degit earlier this year, and I would suggest re-doing all the "Keep your code in sync with this chapter. View <commit> on Github" commits referenced in [this repo](https://github.com/chromaui/learnstorybook-code), as the demo test code throughout (now using '@testing-library/angular') is very different from the "sync" code o

[2021-07-05 13:51] jonniebigodes commented on #386
@argarner I'm well aware of the issue, I'm still working on code updates based on the Storybook 6.3 release for all the tutorials. This requires a bit of work and some polishing up.

Thanks for letting us know about that package. Something that we could probably take a look at and possibly implement it .

[2021-08-04 12:48] IvanHatt commented on #3
@icarlossz  @luchux
Hi, I would like to help with spanish translation "Tutorials: Create an Addon"
(I'm a native speaker, born in Argentina)

[2021-08-04 14:13] jonniebigodes commented on #3
@IvanHatt you're more than welcome to translate the tutorial, we really appreciate it. Just let me know once the translation is up and we'll reach out to the community and find a proofreader to take a look at it and once it's all good I'll be more than glad to merge it.

Stay safe

[2021-08-04 15:55] alessiaAmitrano commented on #3
Hi there, I can work on the Italian translations for both Angular and React!

[2021-08-05 03:04] ymcheung commented on #3
Hi!
Just noticed the flag in Traditional Chinese is 🇨🇳 (China).
<img width="608" alt="CleanShot 2021-08-05 at 11 00 17@2x" src="https://user-images.githubusercontent.com/4409977/128284378-c21053de-3eb3-4c58-9445-ddb4e4a966bc.png">
However, few people use Traditional Chinese in China.
It is great to use both 🇹🇼 and 🇭🇰 for Traditional Chinese.

[2021-08-05 18:04] jonniebigodes commented on #3
Hey @ymcheung thanks for the clarification on this, I'll adjust accordingly.

Stay safe

[2021-08-05 20:02] jonniebigodes commented on #3
@ymcheung all done. Once again thanks for the clarification on this. We appreciate it.

[2021-09-03 17:51] markerikson opened #531 "Redux usage examples are very confusing and should be rewritten"
Hi, I'm a Redux maintainer. A Redux user just pointed me to https://storybook.js.org/tutorials/intro-to-storybook/react/en/data/ , which contains the following Redux reducer example:

[code]

While this code runs, it is very unconventional. I've never seen a pattern where a reducer returns other reducers in the form of closures, and it's never been something we've ever shown in our docs.  This cou

[2021-09-03 20:47] jonniebigodes commented on #531
@markerikson wow, thanks for reaching out to us on this. And indeed you're right on this. That section of the documentation is been a bit left behind for a bit. I've been actually considering updating it in an upcoming pull request. But and I hope you don't take it the wrong way, as you're one of the maintainers and probably know better how to best document this section and what best practices to

[2021-09-03 21:15] markerikson commented on #531
Sure. A really short example might be:

[code]

Changes:

- `configureStore` instead of `createStore`
- `createSlice` instead of a hand-written reducer
- since both action cases in the original example are just "find the one task by ID and update its `state` field", I rewrote this to be a single action case that expects an action like `{type, payload: {id, status}}`, and you'd dispatch it as: `dis

[2021-09-03 21:18] markerikson commented on #531
It's also worth noting that we no longer teach the "container/presentational" pattern in our docs, especially now that we do teach the React-Redux hooks API as the default instead of `connect`.  Some quick references:

- https://redux.js.org/tutorials/fundamentals/part-5-ui-react
- https://redux.js.org/tutorials/essentials/part-2-app-structure
- [The Tao of Redux, Part 2: Practice and Philosophy](

[2021-09-23 17:55] DohertyC12 opened #534 "Unhandled Rejection (Error): Cannot load null or undefined font source: { "percolate": undefined }. Expected asset of type FontSource for fontFamily of name: "percolate""
Does anyone have a working repo of the Storybook for RN?
Unhandled Rejection (Error): Cannot load null or undefined font source: { "percolate": undefined }. Expected asset of type FontSource for fontFamily of name: "percolate"

**To Reproduce**

1. Follow Storybook for RN tutorial
https://storybook.js.org/tutorials/intro-to-storybook/react-native/en/get-started/
Links were out of date for Add Asse

[2021-10-03 11:55] EnricoBeltramo opened #535 "Tutorial issue"
The tutorial,
 at step:
https://storybook.js.org/tutorials/intro-to-storybook/react/en/composite-component/

at running yarn test,
show testing error.
I don't understand where should be the error, there is a way to have a more readable log?

yarn run v1.22.10
$ react-scripts test
 PASS  src/components/TaskList.test.js
(node:23344) DeprecationWarning: \`storyFn\` is deprecated and will be removed i

[2021-10-08 13:56] bodote opened #537 "wrong css file text for angular tutorial , import missing"
## Corrections for Angular: https://storybook.js.org/tutorials/intro-to-storybook/angular/en/simple-component/

- `src/index.css`-> `src/styles.css`
- `.storybook/preview.js` : `+ import "import '../src/styles.css';"`

[2021-10-08 21:47] jonniebigodes commented on #535
@EnricoBeltramo thanks for taking the time and reaching out to us with your issue and sorry for the delayed response, but I was otherwise engaged in other aspects of the documentation. I followed up the tutorial trying to replicate your issue and it seems that something is off, sorry but I wasn't able to reproduce it. Looking at your description it seems that something is happening with the snapsh

[2021-10-11 15:47] Deltaxel opened #538 "Storybook with react-native doesn't load"
Hi all,

I followed the following tutorial https://storybook.js.org/tutorials/intro-to-storybook/react-native/en
There was no issues during installation. The step for `@storybook/addon-ondevice-actions` was not even needed as it is installed by default in current version.
However, when running `yarn storybook`, the editor doesn't load properly.
![image](https://user-images.githubusercontent.com/40

[2021-10-13 22:51] jonniebigodes commented on #538
@Deltaxel thanks for reaching out and let us know of your issue with the tutorial, we really appreciate it. To give you some context on this, the React Native version of the tutorial is in dire need of some TLC, we're well aware of it. In the near future, I'll be following up with the maintainer and see how far along he's progressed with the new release of Storybook for React Native and also imple

[2021-10-13 23:03] jonniebigodes commented on #537
@bodote that's correct, as I've mentioned previously you don't need to make any changes to the `.storyboook/preview.js`, as it's already picking up the styling with Angular. We can mitigate this and adjust the tutorial accordingly, which in this case would be something like

"The additional markup from above combined with the existing CSS yields the following UI: "

Or something similar.

If you'r

[2021-11-10 23:29] jonniebigodes commented on #535
@EnricoBeltramo closing this down as I'm unable to reproduce it. I've followed up the tutorial in both a MacOs machine, a Windows 11 machine, and also with a WSL Ubuntu machine. If the problem still persists for you! Please let me know and I'll gladly re-open this issue and follow up with you!

Have a great week!

Stay safe

[2021-11-10 23:29] #535 closed

[2021-11-23 17:09] jonniebigodes commented on #421
Closing this now @developer239 ! If you're ok with following up with this issue, let me know and we'll go from there!

Have a great week!

Stay safe

[2021-11-23 17:09] #421 closed

[2021-11-23 17:10] jonniebigodes commented on #371
@pavelkeyzik closing the issue. If you're still interested in working on it and providing a Cyrillic translation let me know and I'll open this and follow up with you!

Have a great week!

Stay safe

[2021-11-23 17:10] #371 closed

[2021-11-23 17:12] jonniebigodes commented on #92
Closing this issue as the tutorial is already updated

[2021-11-23 17:12] #92 closed

[2021-11-23 17:14] jonniebigodes commented on #386
Closing this issue as the framework versions for all the tutorials are already updated!

[2021-11-23 17:14] #386 closed

[2021-11-23 19:32] developer239 commented on #421
@jonniebigodes Sorry about that. I started playing with C++ where things don't work but because I don't understand why they don't work I don't find it as frustrating as javascript. 😀

[2021-11-23 20:02] pavelkeyzik commented on #371
Thank you @jonniebigodes! Have a great week too 👋

[2021-11-23 21:38] jonniebigodes commented on #421
@developer239 nothing to be sorry about, don't worry about it! Hope you're having fun with C++ and learning as much as you can! If you ever decide to come back to this "side of the border" (pardon the bad pun) and you're willing to take another pass at this, I'll be more than glad to follow up with you on this.

[2021-11-24 08:04] developer239 commented on #421
@jonniebigodes I will get back to this issue when I am working on a production project that has redux and storybook. I have a pretty good idea of what I want to do.

[2021-11-29 09:21] ParpaingVolant opened #552 "Angular tutorial runs fail"
Hello there,

First of all I'm deeply sorry if it is a newbie error or a duplicate. I'm following the [tutorial for Angular](https://storybook.js.org/tutorials/intro-to-storybook/angular/en/simple-component/) on Window10, working on VSCodium.

Running `npm run test` is getting me an error as following:
_jest --watchAll
    at internal/main/run_main_module.js:17:11 {
  code: 'MODULE_NOT_FOUND',
  r

[2021-11-29 16:56] cwatsonc commented on #531
The container-representational references in the prose are out-of-date; one points to an article that states they no longer ascribe to that methodology for various reasons -- @jonniebigodes thanks for pointing these out -- it took me the longest time to sort through the redux constructs on the tutorial -- IMO it could be removed/refactored to good effect.

[2021-11-29 17:08] cwatsonc opened #553 "[Tutorials] Intro to Storybook -- issue with broken test following app wiring step in "Screens" section"
In the 5th(?) chapter/section (Screens) a step to wire the app to the newly finished InboxScreen implementation misses a test upgrade to App.test.js which breaks the test run.  Either warn the students or add a note to change this test in the same section.

Changing the test description and modifying the assertions fixed this issue for me.

[2021-12-02 16:28] jonniebigodes commented on #553
@cwatsonc thanks for reaching out to us with your issue, we appreciate it. We're aware of the fact and that omission is already covered. A recent pull request was merged with some additions to the tutorial and with that I included what you mentioned in this pull request.

Feel free to reach out to us with any other issues you encounter with our tutorials we appreciate the feedback and always looki

[2021-12-02 16:28] #553 closed

[2021-12-02 16:32] jonniebigodes commented on #537
@bodote hope you don't mind but I'm closing this issue as the tutorials were updated with a recent pull request. But to avoid all of your work going to waste, what I would like from you is the following. If you could make a new pull request and update the readme with the Instructions for Apple's M1 we'd appreciate it.

Let me know once the pull request is up and we'll go from there.

Have a great

[2021-12-02 16:32] #537 closed

[2021-12-02 16:34] jonniebigodes commented on #552
@ParpaingVolant thanks for reaching out to us with your issue, i'm going to take a look at it and run the tutorial on a Win 10 machine I have laying around. In the meantime could you provide some additional context on your node and npm versions?

Have a great day!

Stay safe

[2021-12-25 01:57] naoki8ster commented on #3
Hello, I would like to help with Japanese translation of Design Systems for Developers tutorial.
I’m a front-end engineer having motivation towards design systems.

[2021-12-27 17:23] jonniebigodes commented on #3
@naoki8ster thanks for the interest and willingness to help out with the Design Systems for Developers tutorial, we appreciate it. Let me know when the tutorial's translation is up so that we can get a proofreader from our community that is willing to read it and fine-tune it so that we can merge it.

Stay safe

[2021-12-30 17:06] jonniebigodes commented on #531
Closing this issue as the tutorial has been updated accordingly and is featuring Redux Toolkit.

[2021-12-30 17:06] #531 closed

[2022-01-20 00:32] zaki-yama commented on #3
Hello, I'm Japanese web developer.
I recently read [UI Testing Handbook](https://storybook.js.org/tutorials/ui-testing-handbook/) and that was really great!
I'd be happy if I could help to translate it into Japanese.

[2022-01-20 18:52] jonniebigodes commented on #3
@zaki-yama that's fantastic, glad that you liked the handbook. We'd love to get a Japanese translation included so that it can help both you and the Japanese frontend community. Looking forward to the pull request, let me know once it's up.

Have a great day!

Stay safe

[2022-01-23 12:24] zaki-yama commented on #3
@jonniebigodes
Thanks for replying. I'll try it!
I just wondered if there were someone who can review Japanese. Do you have any Japanese core reviewers?

[2022-01-23 18:02] jonniebigodes commented on #3
@zaki-yama no need to thank whatsoever! The previous translations were done by @chameleonhead (check at the top of this issue for the community translators). Once the pull request I can reach out to him to see if he's available to review the tutorial, if not we'll ask in our community for someone to help us proofread it and get it merged. Sound good?

[2022-01-24 13:53] zaki-yama commented on #3
@jonniebigodes
Great! I understood. Thank you!

[2022-01-30 10:45] naoki8ster commented on #3
@jonniebigodes  Hi, I've just finished translating Design Systems for Developers into Japanese so I am going to push my branched repository into remote repo, but I got the following permission error from server. Could you tell me how to make a PR?
Thanks.

[code]

[2022-01-31 16:14] jonniebigodes commented on #3
Hi @naoki8ster ! Wow, that's great to hear that you translated the tutorial to Japanese, we're stoked to get it added in to the tutorials and with that help the community.

To give you a bit of context on your issue what's happening is that you're not a part of the organization (the ChromaUI organization). In order to get the pull request added to this repository, you'll need to take a few steps:

[2022-02-01 08:58] naoki8ster commented on #3
@jonniebigodes  Thank you for your polite guidance of PR! I understood the reason why I couldn't push that. I've just opened [a pull request](https://github.com/chromaui/learnstorybook.com/pull/573) following above instructions. I'm glad my translation to be reviewed by a proofreader, and also thanks for giving me a helpful article so I'm going to check it out :)

[2022-02-01 22:49] jonniebigodes commented on #3
@naoki8ster no need to thank whatsoever! It was my pleasure to help you get onboarded and be able to contribute to your translation. I'll take a look at it tomorrow from a more technical side, and ask one other Japanese native speaker that contributed to the tutorials earlier to proofread it. If he's unable to do it for some reason, I'll reach out to our community and see if there's another member

[2022-02-02 14:10] naoki8ster commented on #3
@jonniebigodes Awesome! I appreciate these process, and I'm looking forward to be reviewed :)

[2022-02-11 07:31] jeanphibaconnais commented on #3
Hi @jonniebigodes , i think [this PR](https://github.com/chromaui/learnstorybook.com/pull/434) has so many time and there are so much news that if you want, you can close it and i will re translate the french part.